.DS_Store
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/cache
fuel/packages/locomo/config/packageconfig.php
fuel/packages/locomo/projects/*
!fuel/packages/locomo/projects/develop
fuel/packages/locomo/_test
fuel/packages/locomo/_bookmarks
fuel/app/config/development/db.php
fuel/app/config/crypt.php
view/css/*
view/js/*
view/images/*
fuel/app/config/development/migrations.php
