.DS_Store
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/app/cache
fuel/packages/locomo/_test
fuel/packages/locomo/_bookmarks
fuel/app/config/development/db.php
fuel/app/config/crypt.php
view/css/*
view/js/*
view/images/*
fuel/app/config/development/migrations.php

fuel/lightstaff_csv
