.DS_Store
fuel/app/logs/*/*/*
fuel/app/cache/*/*
fuel/packages/kontiki/config/packageconfig.php
fuel/packages/kontiki/projects/*
fuel/packages/kontiki/_test
fuel/packages/kontiki/_bookmarks
fuel/app/config/development/db.php
fuel/app/config/crypt.php
view/css/*
view/js/*
view/images/*
fuel/app/config/development/migrations.php
