/* 管理画面側の設定 */
/* ========== ログイン時 ========== */

/*=== login画面 ===*/
/* ここは「ログインしていない状態で表示されるLocomo」なので、ファイルを分けたほうが良いのかも */
body.loggedin {
	padding-top: 70px;
}
body.loggedin {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
	height: 100%;
	background-color: #cdd7de;
	padding: 1em 0 40px;
}
body.default_logo {
	background-color: #eee;
}

body.loggedin .container {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	max-width: 96%;
	margin: 0 auto 40px;
	padding: 20px;
	background-color: #fafafa;
	outline: 1px solid #ccc;
}
body.loggedin .contents {
	position: relative;
}
body.loggedin footer,
body.loggedin #footer {
	position: relative;
	bottom: 0;
	min-height: 80px;
	padding: 30px 30px 10px;
	font-size: .8em;
}
/**/

body.loggedin {
	padding-top: 70px;
}
.horizontal_list ul,
.horizontal_list li {
	display: inline-block;
}
*+html .horizontal_list ul,
*+html .horizontal_list li {
	display: inline;
	zoom: 1;
}

body.loggedin a.has_dropdown {
	padding-right: 15px;
	background-image: url('../img/system/mark_listopen_bk.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-left: 0;
}

body.loggedin .has_top_separator {
	border-top: 1px solid rgba(255,255,255,1);
	box-shadow: 0 -1px 0 #ddd;
	margin-top: -1px;
	padding-top: 3px;
}
body.loggedin .has_bottom_separator {
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 rgba(255,255,255,1);
	margin-bottom: 3px;
}
body.loggedin .has_top_separator.has_bottom_separator {
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 -1px 0 #ddd;
}
body.loggedin .has_bottom_separator + .has_top_separator {
	border-top: none;
	box-shadow: 0 1px 0 rgba(255,255,255,1);
}
body.loggedin ul.horizontal_list {
	line-height: 1.25;
	padding-left: 0;
}
body.loggedin .horizontal_list li {
	padding: .25em 6px .25em 0;
}
body.loggedin .container .horizontal_list {
	overflow: hidden;
}
body.loggedin .container .horizontal_list li {
	border-left: 1px solid #aaa;
	padding: 0 6px;
	margin: .25em 0 .25em -1px;
}
.widget_title,
.lcmbar_top.lcmbar_top_title {
	background-image: url('../../app_assets/img/system/adminbar_bg.png') !important;
	background-color: #0e3664 !important;
	background-position: center top !important;
	background-repeat: no-repeat !important;
	color: #fff !important;
	text-shadow: 1px 1px 0 #333 !important;
	vertical-align: middle;
}
/* default */
/**
body.default_logo {
    background-color: #eee;
}
**/

body.lcm_action_login.default_logo {
	   background-color: #ddd;
	   padding-top: 70px;
}

body.lcm_action_login.default_logo #logo {
    margin: -0.5em auto 0.5em;
    width: 6em;
}
body.lcm_action_login.default_logo .site_title {
    display: none;
}
body.lcm_action_login {
	background-color: #dde7ee;
}
body.lcm_action_login .container {
	min-height: inherit;
	width: 23.5em;
	min-width: 23em;
	height: 23.75em !important;
	padding: 0 1.5em;
	margin: 7.5em auto 50px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-align: center;
	outline: none;
}
body.lcm_action_login input[type="text"],
body.lcm_action_login input[type="password"] {
	width: 13em;
}
body.lcm_action_login.home .container {
	height: 23em !important;
}
/*.lcm_action_login h1 {
	position: absolute !important;
	left: auto;
	height: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
*/
body.lcm_action_login.default_logo .container{
	   height: 26.5em !important;
}
.lcm_action_login .container h1 {
	font-size: 2em !important;
	color: #004896;
	font-weight: normal;
	font-family: Verdana;
	border: none;
	box-shadow: none;
	margin: 0 0 .5em !important;
}
.lcm_action_login h1 img {
	display: block;
	margin: .5em auto 0;
	width: 1.5em;
}
.lcm_action_login .form_group {
	border: none;
	padding: 0;
	margin: .5em 0;
	background-color: transparent;
}
.lcm_action_login input {
	padding: 5px 2px;
}
.lcm_action_login input#form_submit {
	margin: 1.5em 0;
	width: 100%;
}
.lcm_action_login a.home {
	display: block;
	margin-top: 3em;
	font-size: .9em;
}
.lcm_action_login .flash_alert {
	position: absolute;
	top: 2.5em;
	left: 0;
	right: 0;
	width: 20em;
	margin: 0 auto;
	box-sizing: border-box;
}

/* ツールバー周り。adminbarがあるの前提なら、向こうにあるべきなの？ */
#main_content div.lcmbar_top,
#main_content div.lcmbar_bottom {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

#main_content .lcmbar_bottom {
	clear: both;
	border-top: 1px solid #858c91;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	padding: 4px 2%;
	background: #fafafa;
	background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: -ms-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: -o-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#ebebeb));
	background-image: -webkit-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: linear-gradient(top, #fcfcfc, #ebebeb);
	color: #333;
	text-shadow: 1px 1px 0 #fff;
	box-shadow: 0 0 2px rgba(0,0,0,.3);
}

#main_content .lcmbar_bottom  div:first-child,
#main_content .lcmbar_bottom  div:first-child + div {
	margin-right: .5em;
}
#main_content .lcmbar_bottom .adminbar_sub {
	line-height: 2em;
}
#main_content .lcmbar_bottom .adminbar_icon {
	width: 1.5em;
	padding: 0 .125em;
}
#main_content .lcmbar_bottom .adminbar_icon img {
	padding: .25em 0;
}

#main_content .lcmbar_bottom .adminbar_sub a.has_dropdown {
	padding: .15em 16px .15em 0;
}

#main_content .lcmbar_top a,
#main_content .lcmbar_bottom a {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
#main_content .li,
#main_content .menulist li a,
#main_content .lcmbar_bottom a {
	color: #333 !important;
	text-shadow: 1px 1px 0 #fff !important;
	margin: 0 !important;
	padding: .35em 4px .4em;
}
#main_content .lcmbar_bottom div a:hover,
#main_content .lcmbar_bottom div a:focus {
	background-color: rgba(0,0,0,.06);
	transition: 0.3s;
	text-shadow: none;
}
.lcm_form .lcmbar_bottom .submit_button {
	position: static;
}
#main_content .lcmbar_bottom {
	margin: 0 ;
	text-align: center;
}
#main_content .lcmbar_bottom .submit_button {
	margin: 0;
	text-align: right;
}
#main_content .lcmbar_bottom .submit_button .primary {
	margin-right: 0;
}
/* ページネーション */
#main_content .lcmbar_bottom .pagination a {
	padding: 5px 10px;
}
#main_content .lcmbar_bottom .select_period .active {
	padding: 5px 10px;
}
#main_content .lcmbar_bottom .select_period .next_month,
#main_content .lcmbar_bottom .select_period .prev_year {
	padding: 2px 10px;
}

#main_content .lcmbar_bottom .select_period .prev_month {
	margin-left: 4em !important;
}
#main_content .lcmbar_bottom .select_period .next_year {
	margin-left: 4em !important;
}
