/*
CSSハック(valid)
IE6 : * html 
IE7 : *+html
IE8,MacIE5,Opera9以下 html:first-child
*/

/* あとでlocomoログイン時のCSSを分ける */

/*=== login ===*/

/* default */
body.default_logo {
    background-color: #eee;
}
body.default_logo.lcm_action_login {
	   background-color: #ddd;
}
body.default_logo.lcm_action_login .container{
	   height: 26.5em !important;
}
.default_logo.lcm_action_login #logo {
    margin: -0.5em auto 0.5em;
    width: 6em;
}
.default_logo.lcm_action_login .site_title {
    display: none;
}
body.lcm_action_login {
	background-color: #dde7ee;
}
.lcm_action_login .container {
	min-height: inherit;
	width: 23.5em;
	min-width: 23em;
	height: 23.75em !important;
	padding: 0 1.5em;
	margin: 9em auto 50px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-align: center;
	outline: none;
}
.lcm_action_login input[type="text"],
.lcm_action_login input[type="password"] {
	width: 13em;
}
.lcm_action_login.home .container {
	height: 23em !important;
}
/*.lcm_action_login h1 {
	position: absolute !important;
	left: auto;
	height: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
*/
.lcm_action_login .container h1 {
	font-size: 2em !important;
	color: #004896;
	font-weight: normal;
	font-family: Verdana;
	border: none;
	box-shadow: none;
	margin: 0 0 .5em !important;
}
.lcm_action_login h1 img {
	display: block;
	margin: .5em auto 0;
	width: 1.5em;
}

.lcm_action_login .form_group {
	border: none;
	padding: 0;
	margin: .5em 0;
	background-color: transparent;
}
.lcm_action_login input {
	padding: 5px 2px;
}
.lcm_action_login input#form_submit {
	margin: 1.5em 0;
	width: 100%;
}
.lcm_action_login a {
	display: block;
	font-size: .9em;
}
.lcm_action_login .flash_alert {
	position: absolute;
	top: 4em;
	left: 0;
	right: 0;
	width: 20em;
	margin: 0 auto;
	box-sizing: border-box;
}

.main_column,
.sub_column,
#adinbar,
#adminbar div,
#adminbar_logo {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
}

#adminbar div,
.adminbar_icon,
.horizontal_list ul,
.horizontal_list li {
	display: inline-block;
}
*+html #adminbar div,
*+html .horizontal_list ul,
*+html .horizontal_list li {
	display: inline;
	zoom: 1;
}

.contents:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.contents {
	min-height: 1px;
}
* html .contents {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}


/*=== contents layout ===*/
.field_wrapper {
	display: inline-block;
	position: relative;
}
*+html .field_wrapper {
	display: inline;
	zoom: 1;
}
.contents .left_column,
.contents .right_column {
	float: left;
}
.contents .left_column {
	margin-right: 10px;
	width: 300px;
}
.contents .main_column {
}
.contents .sub_column {
}
.index_wrapper {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.index_wrapper .main_column,
.index_wrapper .sub_column {
	float: none;
	display: table-cell;
	vertical-align: top;
	width: 100%;
}

/*=== adminbar ===*/
#adminbar {
	width: 100%;
	min-width: 300px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 2.5em 0 0;/* 上部バーの高さを設けておく */
	border-top: 1px solid #7393c6;
	background-color: #fff;
	font-size: .9em;
	-webkit-font-smoothing: subpixel-antialiased; /* Safariでのテキストのアンチエイリアス処理調整、薄くなるのを防ぐ */
}
#adminbar a {
	text-decoration: none;
	display: inline-block;
}
.adminbar_icon { /* IE8で画像のサイズをCSSで指定した場合に本来サイズで枠が描画されてしまうのを防ぐためにラッパーを用意 */
	width: 1.75em;
	height: 2em;
	padding: 0 .125em;
}
.adminbar_bottom .adminbar_icon {
	width: 1.5em;
}

.adminbar_top .adminbar_icon img {
	width: 1.75em;
	height: 1.75em;
	padding: .1em 0;
}

.adminbar_bottom .adminbar_icon img {
	padding: .25em 0;
}

.adminbar_top,
.adminbar_bottom {
	display: block;
	width: 100%;
}
.adminbar_top {
	height: 2.5em;
	position: absolute;
	top: 0;
	left: 0;
}
/* あとで整理 */
.lcmbar_top {
	background-image: url('../../app_assets/img/system/adminbar_bg.png');
	background-color: #0e3664;
	background-position: center top;
	background-repeat: no-repeat;
	color: #fff !important;
	text-shadow: 1px 1px 0 #333;
	vertical-align: middle;
}

.default_bg .lcmbar_top {
	background-color: #0e3664;
	background-image: url('../img/system/adminbar_bg.png');
	background-position: center top;
	background-repeat: no-repeat;
	color: #fff !important;
	text-shadow: 1px 1px 0 #333;
	vertical-align: middle;
}

.lcmbar_bottom {
	clear: both;
	border-top: 1px solid #7393c6;
	border-bottom: 1px solid #858c91;
	position: relative;
	background: #fafafa;
	background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: -ms-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: -o-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#ebebeb));
	background-image: -webkit-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: linear-gradient(top, #fcfcfc, #ebebeb);
	color: #333;
	text-shadow: 1px 1px 0 #fff;
	box-shadow: 0 0 2px rgba(0,0,0,.2);
}
#adminbar_logo {
	height: 2.5em;
	vertical-align: middle;
	background-color: #fff;/* adminbarの背景色と合わせる */
	padding: 0;
}
.adminbar_main,
.adminbar_sub {
	padding: .25em 10px;
}
.adminbar_main div,
.adminbar_sub div {
	position: relative;
	vertical-align: middle;
}
.adminbar_main > div {
	margin-right: 15px;
}
.adminbar_top .adminbar_main,
.adminbar_top .adminbar_sub {
	vertical-align: middle;
}
.adminbar_top .adminbar_main > a {
	margin-right: 5px;
}
.adminbar_top .adminbar_sub {
	height: 2.5em;
}
.adminbar_bottom .adminbar_main {
	padding: .25em 33px .25em 10px;
}
.adminbar_bottom .adminbar_sub {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 2em;
}
.adminbar_top .adminbar_sub div {
	line-height: 2em;
	vertical-align: middle;
	padding-left: 5px;
}
.adminbar_sub {
	float: right;
}
.adminbar_sub ul.on {
	right: 0;
	left: auto !important;
}
#render_info {
	opacity: .65;
	font-size: .9em;
	line-height: 2.3em;
}
.adminbar_top div > a {
	display: block;
	line-height: 2em;
	vertical-align: middle;
	color: #fff !important;
}
.adminbar_top a,
.adminbar_bottom a {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.adminbar_top div > a:hover,
.adminbar_top div > a:focus {
	background-color: rgba(255,255,255,.15);
	transition: 0.3s;
}
#adminbar li,
#adminbar li a,
#adminbar .adminbar_bottom a {
	color: #333 !important;
	text-shadow: 1px 1px 0 #fff !important;
}
a.has_dropdown {
	padding-right: 15px;
	background-image: url('../img/system/mark_listopen_bk.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-left: 0;
}
.adminbar_top a.has_dropdown {
	padding-right: 15px;
	background-image: url('../img/system/mark_listopen_wh.png');
	background-position: right center;
	background-repeat: no-repeat;
}
#adminbar .icononly {
	margin-right: -8px;
}
.adminbar_bottom div a:hover,
.adminbar_bottom div a:focus {
	background-color: rgba(0,0,0,.06);
	transition: 0.3s;
	text-shadow: none;
}
#adminbar .menulist.on {
	box-shadow: 0 0 6px #aaa;
	-moz-box-shadow: 0 0 6px #aaa;
	-o-box-shadow: 0 0 6px #aaa;
	-ms-box-shadow: 0 0 6px #aaa;
/*
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true), 
*/
	progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), 
	progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), 
/*
progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);
*/
}
#adminbar .menulist a {
	display: block;
	padding: 2px 20px 4px;
}
li.has_top_separator {
	border-top: 1px solid rgba(255,255,255,1);
	box-shadow: 0 -1px 0 #ddd;
	margin-top: -1px;
	padding-top: 3px;
}
li.has_bottom_separator {
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 rgba(255,255,255,1);
	margin-bottom: 3px;
}
.has_top_separator.has_bottom_separator {
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 -1px 0 #ddd;
}
.has_bottom_separator + .has_top_separator {
	border-top: none;
	box-shadow: 0 1px 0 rgba(255,255,255,1);
}


#adminbar .menulist.on a:hover,
#adminbar .menulist.on a:focus {
	background-color: #d8ebfc;
	transition: 0.3s;
	text-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
ul.horizontal_list {
	line-height: 1.25;
	padding-left: 0;
}
.horizontal_list li {
	padding: .25em 6px .25em 0;
}
#adminbar ul.horizontal_list a {
	display: inline;
	padding: .25em;
}
.container .horizontal_list {
	overflow: hidden;
}
.container .horizontal_list li {
	border-left: 1px solid #aaa;
	padding: 0 6px;
	margin: .25em 0 .25em -1px;
}

.adminbar_main ul.on,
.adminbar_sub ul.on {
	position: absolute;
	left: 0;
	z-index: 100;
	display: block;
	white-space: nowrap;
	padding: .25em 0;
	border: 1px solid #b9b9b9;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: rgb(250, 250, 250);
	background: rgba(250, 250, 250, .95);
}
#adminbar .on li {
	display: block;
}

#adminbar li .label {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 8em;
	padding-left: 20px;
}
#adminbar .usergroup {
	padding-left: 20px;
	padding-bottom: 4px;
	font-size: .85em;
}
#adminbar .usergroup li {
	display: list-item;
	list-style-type: disc;
	margin-left: -.125em;
	padding-right: 20px;
}
#adminbar .on  > li {
	display: block;
}
#adminbar .show_if_focus {
	left:4px;
	top: 4px;
}

/* あとで考える。オプションの歯車と戻る画面のリンクリストがあるので、管理バーしたの領域のレイアウトは要再考。
.adminbar_sub .admin_controller_option {
	position: absolute;
	top: 0;
	right: 9px;
}
*/
/* dashboard */
.lcm_action_dashboard .contents {
	margin-left: 0;
	margin-right: -0.95%;
}
.widget {
	box-sizing: border-box;
	border: 1px #aaa solid;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	float: left;
	position: relative;
	height: 16em;
	overflow: hidden;
	margin: 5px 1%;
	font-size: .85em;
	
}
.widget.size1 {
	width: 30.975% !important;
	}
.widget.size2 {
	width: 63.9% !important;
}
.widget.size3 {
	width: 96.95% !important;
}
.lcmbar_top_title {
	height: 1.5em;
	padding: .25em;
	margin: 0 !important;
}
.widget_content {
	overflow: auto;
	height: 14em;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget_content_fc {
    display: block;
    margin: auto;
}
.widget_content_fr {
	text-align: right;
}
/* button */
.btn,
.button {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
.button.min {
	padding: 3px 5px;
	margin: 0 2px;
}
.btn.primary,
.button.primary {
	background-color: #2a78ca;
	border: 1px solid  #357ebd;
	color: #fff;
	padding: 5px 15px;
}
.btn.primary:hover,
.btn.primary:focus,
.button.primary:hover,
.button.primary:focus {
	border: 1px solid  #357ebd;
	background-color: #29619d;
	color: #fff;
	padding: 5px 15px;
}
.btn.primary:active,
.button.primary:active {
	border: 1px solid  #357ebd;
	padding: 5px 15px;
	background-color: #29619d;
}
a.btn_danger,
a.btn_danger:hover,
a.btn_danger:active,
a.btn.danger,
a.button.danger,
a.btn.danger:hover,
a.button.danger:hover,
a.btn.danger:active,
a.button.danger:active {
/*	color: #fff; */
}
.btn_danger,
.btn.danger,
.button.danger {
/*
	border-color: #d43f3a;
	background-color: #d9534f;
	color: #fff;
*/
	background-color: #f6cccc;
}
.btn_danger:hover,
.btn.danger:hover,
.button.danger:hover {
	border-color: #ac2925;
	background-color: #c9302c;
	color: #fff;
}
.btn_danger:active,
.button.danger:active {
	border-color: #ac2925;
	background-color: #c9302c;
	color: #fff;
}
.btn.small,
.button.small {
	padding: 2px 5px;
	margin: 0 2px 0 0;
}
.btn.small.primary,
.button.small.primary {
	padding: 1px 7px;
	font-weight: normal;
}
.btn.small.primary:hover,
.button.small.primary:hover {
	border-width: 3px;
	padding: 0 6px;
}
.btn.small.primary:active,
.button.small.primary:active {
	padding: 0 6px;
}

.btn.btn_block,
.button.button_block {
	display: block;
	width: 100%;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
	margin-bottom: 10px;
}
.btn.btn_block,
.btn.btn_block:hover,
.btn.btn_block:active,
.btn.btn_block:focus,
.button.button_block,
.button.button_block:hover,
.button.button_block:active,
.button.button_block:focus {
	padding: .75em 0;
}

.btn.disabled,
.button.disabled,
input.button[disabled],
a.button[disabled],
fieldset[disabled] input.button,
fieldset[disabled] a.button {
	cursor: not-allowed;
	pointer-events: none; /* IEは11以上から */
	opacity: .65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
}
.validation_error input,
.validation_error select,
.validation_error textarea {
	background-color: #fff3f3;
	outline-color: rgba(238,153,153,.6);
	}
input[disabled],
select[disabled],
textarea[disabled] {
	background-color: #eee ;
	box-shadow:none;
}
input:read-only {
	border: none;
	background: transparent;
}
.btn_group {
	white-space: nowrap;
}
.btn_group a {
	margin-left: .5em;
}
.btn_group a:first-child {
	margin-left: 0;
}
a.delete {
	color: #a20;
}
a.undelete {
	color: #290;
}

/* hidden_item */
.hidden_item {
	display: none;
}
.hidden_item.on {
	display: block !important;
}

/* alert */
div.flash_alert {
	position: relative;
	padding:5px 20px 5px 10px;
	margin: 10px 0;
	text-align: left;
}
div.flash_alert.alert_success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #111;
}
div.flash_alert.alert_error {
	background-color: #fae6e6;
	border-color: #e9c6c6;
	color: #111;
	padding-left: 35px;
	background-image: url('../img/led-icons/error.png');
	background-repeat: no-repeat;
	background-position: 10px center;
}
.flash_alert ul.link a {
	text-decoration: none;
	color: #333 !important;
}
.flash_alert ul.link a:hover {
	text-decoration: underline;
}
.link_alert_error:focus {
	position: relative !important;
}

/* tooltip */
div.lcm_tooltip {
	background: rgba(255, 255, 255, .97) !important;
	font-size: .9em !important;
}
div.lcm_tooltip {
	-moz-box-shadow: 0 0 2px #aaa;
	-o-box-shadow: 0 0 2px rgba(128, 128, 128, .5) ;
	-ms-box-shadow: 0 0 2px rgba(128, 128, 128, .5);
	box-shadow: 0 0 2px rgba(128, 128, 128, .5);
	border: 1px solid #aaa !important;
}
.lcm_tooltip:after,
.lcm_tooltip:before {
	top: 100%;
	left: 2em;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.lcm_tooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}
.lcm_tooltip:before {
	border-color: rgba(170, 170, 170, 0);
	border-top-color: #aaa;
	border-width: 6px;
	margin-left: -6px;
}
.lcm_action_calendar .lcm_tooltip {
	font-size: .75em !important;
}
.lcm_action_calendar .lcm_tooltip th {
	min-width: 6em;
	text-align: right;
}
/* pagenation */
.pagination {
	padding: 10px;
	text_align: center;
}
.pagination a {
	padding: 5px 10px;
}

.pagination .active a,
.pagination a:hover {
	background-color: #eee;
	transition: 0.3s;
}
.pagination .active a {
	font-weight: bold;
}

/*===  form  ===*/
.form_group {
	margin: 5px 0 20px;
	padding: 10px;
	background-color: #efefef;
}
.contents form h2 {
	margin: 1.5em 0 .5em;
	padding-top: .5em;
	font-size: 1em;
	border-top: 1px solid #aaa;
	border-bottom: none;
	box-shadow: 0 -1px 0 #fff;
}
.container .search .label_fb label * {
	vertical-align: baseline;
}
.lcm_form {
	position: relative;
	display: table;
	width: 100%;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 2em;
	padding-bottom: 4em;
}
.lcm_form > .input_group {
	display: table-row;
}
.lcm_form .input_group > h2,
.lcm_form .input_group > .field,
.lcm_form .input_group > table {
	display: table-cell;
	border-collapse: collapse;
}
.lcm_form * {
	vertical-align: top;
}
.lcm_form .input_group h2 ,
.lcm_form .input_group > .field ,
.lcm_form .input_group > table {
	font-size: 1em;
	margin: 0;
	padding: 1em 0 .8em;
	border-top: 1px solid #ccc;
	border-bottom: none;
	box-shadow: 0 -1px 0 #fff;
}
.lcm_form .input_group:first-child h2,
.lcm_form input:first-child + .input_group h2,
.lcm_form .input_group:first-child .field,
.lcm_form input:first-child + .input_group .field,
.lcm_form .input_group:first-child table,
.lcm_form input:first-child + .input_group table {
	border-top: none;
	box-shadow: none;
}

.lcm_form .input_group > table th {
	line-height: 1.25em;
	padding: .125em 0;
}
.lcm_form .input_group > table tbody th ,
.lcm_form .input_group > table tbody td{
	border-top: 1px solid #ccc;
	padding: .5em 0;
	min-width: 8em;
}
.lcm_form .input_group > table * {
	vertical-align: middle;
}
.lcm_form .input_group > h2 {
	width: 11em;
	text-align: right;
}
.lcm_form .input_group > .field,
.lcm_form .input_group > table {
	padding-left: .75em;
}
.lcm_form textarea {
	max-width: 800px	;
}
.lcm_form .address input[type="button"] {
	margin-bottom: .5em;
}
.lcm_form .address input[type="text"] {
	display: block;
	margin-bottom: -1px;
	width: 25em;
}
.lcm_form .submit_button {
	position: absolute;
	right: 10px;
	bottom: .25em;
}
form tbody th {
	text-align: left;
	padding-right: 5px;
}
dl.field dt {
	font-weight: bold;
}
.input_group .multiple_button {
	display: inline-block;
	height: 100%;
	width: 5em;
	text-align: center;
	line-height: 2.5em;
	vertical-align: middle;
}
label {
	display: inline-block;
}
html:first-child label {
	display: none;
}
input,
select,
textarea {
	margin-bottom: .25em;
	margin-left: .33em;

}
select {
	height: 1.75em;
}
select[size]{
	height: auto;
}
div.submit_button {
	width: 100%;
	text-align: right;
	margin: 1em 0 .5em;
}

.label_required {
	font-weight: normal;
	font-size: .75em;
	letter-spacing: .125em;
	margin:0 .5em;
	padding: .2em .25em .15em;
	vertical-align: text-bottom;
	color: #fff;
	background-color: #f07070;
	border-radius: 3px;
}
span#customer_address2:empty + br,
span#customer_address3:empty + br {
	display: none;
}
a.disclosure {
	display: block;
	position: relative;
	color: #333;
	font-size: .9em;
	text-decoration: none;
	background-image: url('../img/system/mark_disclose.png');
	background-position: 4px center;
	background-repeat: no-repeat;
	padding: .125em 5px .125em 15px;
	margin: 0;
	width: 100%;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a.disclosure.on {
	background-image: url('../img/system/mark_disclose_on.png');
	background-position-x: 0;
}
a.disclosure.nomarker {
	background-image: none;
	padding-left: 5px;
	font-size: 1em;
}
a.disclosure.nomarker span.icon {
	padding-left: 15px;
	background-image: url('../img/system/mark_disclose.png');
	background-position: 4px center;
	background-repeat: no-repeat;
}
h1 a.disclosure span.icon {
	font-size: .8em;
	line-height: 1.5;
	height: 1.75em;
/*あとで、無理矢理なのを直す*/
	position: relative;
    bottom: -.4em;
}
h1 a.disclosure span.icon img {
	margin: 0 0 0 .25em;
}
a.disclosure.nomarker.on span.icon {
	background-image: url('../img/system/mark_disclose_on.png');
	background-position-x: 0;
}
a.disclosure:hover {
	background-color: #e8e8e8;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
span.icon {
	display: inline-block;
	height: 1.25em;
	font-weight: normal;
}
span.icon.fr {
	margin-bottom: 0;
}
span.icon a {
	margin-top: .12em;
	font-size: .75em;
}
span.icon img {
	width: 1.5em;
	margin: 0 .125em 0 .25em;
}

#page_title + .hidden_item {
	margin-top: -.6em;
	padding-left: 0;
}
form.search .input_group {
	display: inline-block;
}
form.search > .input_group {
	display: block;
	width: 100%;
	margin-left: 1em;
	margin-bottom: .25em;
}
/*IE8以下用にあとで分岐する。*/
.lcm_ieversion_6 .input_group .input_group,
.lcm_ieversion_7 .input_group .input_group,
.lcm_ieversion_8 .input_group .input_group,
.lcm_ieversion_6 label,
.lcm_ieversion_7 label,
.lcm_ieversion_8 label {
	white-space: nowrap;
}
.lcm_ieversion_6 input[type="text"],
.lcm_ieversion_7 input[type="text"],
.lcm_ieversion_8 input[type="text"],
.lcm_ieversion_6 input[type="search"],
.lcm_ieversion_7 input[type="search"],
.lcm_ieversion_8 input[type="search"],
.lcm_ieversion_6 input[type="tel"],
.lcm_ieversion_7 input[type="tel"],
.lcm_ieversion_8 input[type="tel"],
.lcm_ieversion_6 input[type="url"],
.lcm_ieversion_7 input[type="url"],
.lcm_ieversion_8 input[type="url"],
.lcm_ieversion_6 input[type="email"],
.lcm_ieversion_7 input[type="email"],
.lcm_ieversion_8 input[type="email"],
.lcm_ieversion_6 input[type="datetime"],
.lcm_ieversion_7 input[type="datetime"],
.lcm_ieversion_8 input[type="datetime"],
.lcm_ieversion_6 input[type="date"],
.lcm_ieversion_7 input[type="date"],
.lcm_ieversion_8 input[type="date"],
.lcm_ieversion_6 input[type="month"],
.lcm_ieversion_7 input[type="month"],
.lcm_ieversion_8 input[type="month"],
.lcm_ieversion_6 input[type="week"],
.lcm_ieversion_7 input[type="week"],
.lcm_ieversion_8 input[type="week"],
.lcm_ieversion_6 input[type="time"],
.lcm_ieversion_7 input[type="time"],
.lcm_ieversion_8 input[type="time"],
.lcm_ieversion_6 input[type="datetime-local"],
.lcm_ieversion_7 input[type="datetime-local"],
.lcm_ieversion_8 input[type="datetime-local"],
.lcm_ieversion_6 input[type="number"],
.lcm_ieversion_7 input[type="number"],
.lcm_ieversion_8 input[type="number"],
/* input[type="password"], 環境によりマスク文字が小さく表示されるため除外 */
.lcm_ieversion_6 textarea,
.lcm_ieversion_7 textarea,
.lcm_ieversion_8 textarea {
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}



form.search .input_group *{
	vertical-align: top;
}
form.search h2 {
	display: inline-block;
	height: 1.75em;
	width: 8em;
	margin-top: 0;
	padding: 0;
	text-align: right;
	border: none;
	box-shadow: none;
}
form.search select {
	max-width: 10em;
}

em.exp:empty {
	display: none;
}

a.show_item:hover {
	text-decoration: underline;
}
a.asc:after {
	content: ' ▲';
}
a.desc:after {
	content: ' ▼';
}

/*===  table  ===*/
th.min,
td.min,
th.minimum,
td.minimum {
	width: 1px;
	white-space: nowrap;
}
.tbl_wrapper {
	overflow-x: auto;
}
/* tbl datatable */
*>table.datatable thead th,
*>table.datatable .thead th,
*>table.datatable thead td,
*>table.datatable .thead td,
*>table.datatable td,
.datatable td {
	padding:.25em .5em;
}
.datatable {
	background-color: #fefefe;
	font-size: .9em;
}
.datatable thead th,
.datatable thead td,
.datatable tbody tr:last-child th,
.datatable tbody tr:last-child td,
.datatable tfoot tr:last-child th,
.datatable tfoot tr:last-child td {
	border-bottom: 1px solid #bbb;
}

.datatable tbody th {
	font-weight: normal;
	padding:.25em .5em;	
} 
.datatable th,
.datatable td {
	border-bottom: 1px solid #eee;
}
.datatable td {
	white-space: nowrap;
}
.datatable tr:nth-child(odd) {
	background: #fefefe;
}
.datatable tr:nth-child(even) {
	background: #f9f9f9;
}
.datatable tr:nth-child(even) th {
	background: #eee;
}
.datatable thead a,
.datatable .thead a {
	display: block;
	text-decoration: none;
	color: #333;
}
.datatable thead a:hover,
.datatable .thead a:hover {
	background-color: #ddd;
	text-decoration: underline;
}
.col_scrollable {
	display: block;
	white-space: normal;
	overflow-y: auto;
	overflow-x: hidden;
	height: 1.6em;
	margin: -.25em -6px -.25em -.5em;
	padding: 0 .5em;
}
.l2 .col_scrollable {
	height: 3.1em;
}
.l3 .col_scrollable {
	height: 4.5em;
}
.l4 .col_scrollable {
	height: 6em;
}
.l5 .col_scrollable {
	height: 7.5em;
}
.formtable {
	border-spacing: 0px;
	width: 100%;
	border-left: none;
}
.formtable th,
.formtable td {
	text-align: left;
	padding: 8px 5px;
	border-bottom: 1px #ccc solid;
	box-shadow: 0 1px 0 #f3f3f3;
	border-right: none;
}
.formtable tr:last-child th,
.formtable tr:last-child td {
	border-bottom: none;
}

.formtable thead th {
	text-align: left;
}
/*=== calendar ===*/
.field_wrapper.calendar {
	text-align: center;
}
.select_period {
	display: inline-block;
	position: relative;
}
*+html .select_period {
	display: inline;
	zoom: 1;
}
.select_period .prev_month {
	padding-left: 3.5em;
}
.select_period .next_year {
	padding-left: 4em;
}
.select_period .next_month,
.select_period .prev_year {
	position: absolute;
}
.select_period .next_month {
	right: 3.5em;
}
.select_period .prev_year {
	left: 0;
}
.select_period .select_num {
	display: inline-block;
}
.select_period .select_num span {
	padding: 0 .25em;
}
.select_period .select_num {
	color: indianred;
}
table.calendar {
	margin-top: .5em;
	table-layout: fixed;
	text-align: left;
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
	border-spacing: 0px;
	border-top: 1px #bbb solid;
	border-left: 1px #bbb solid;
}

.calendar th,
.calendar td {
	padding: 3px 3px 2px;
	border-bottom: 1px #bbb solid;
	border-right: 1px #bbb solid;
	width: 8em;
	background-color: transparent;
}
.calendar thead * {
	vertical-align: middle;
	text-align: center;
}
.calendar thead span{
	display: inline-block;
	width: 1em;
	white-space: nowrap;
	overflow-x: hidden;
}
.calendar th.week6 {
	color: darkcyan;
}
/*.calendar td.week6 {
	background-color: #d8ebfc;
}
*/
.calendar th.week0 {
	color: indianred;
}
/*
.calendar td.week0 {
	background-color: #fcebd8;
}
*/
.calendar td {
	vertical-align: top;
	padding: 0;
}
/* あとでkesu */
.calendar .each_date {
	min-height: 4.5em;
	position: relative;
}
.calendar .title {
	display: block;
	background-color: #eee;
	font-weight: bold;
	text-decoration: none;
}
.calendar .add_new {
	padding: 2px 4px;
	position: absolute;
	top: 0;
	right: 0;
}
.calendar .add_new:before {
	content: url('../img/led-icons/pencil.png');
}
.week6 .title {
	background-color: #d8ebfc;
}
.week0 .title {
	background-color: pink;
}
.widget .calendar {
	margin: 3px;
}
.widget.size1 .calendar {
	font-size: 85%;
}
/* あとでkesu */
.icon_small {
	font-size: .6em;
}
/*=== filer ===*/
a.icon.dir:before {
	content: url('../img/led-icons/folder.png')' ';
}
a.icon.file:before {
	content: url('../img/led-icons/page.png')' ';
}
a.icon.braille:before {
	content: url('../img/led-icons/page_braille.png')' ';
}
a.icon.image:before {
	content: url('../img/led-icons/picture.png')' ';
}
a.icon.pdf:before {
	content: url('../img/led-icons/doc_pdf.png')' ';
}
a.icon.ppt:before {
	content: url('../img/led-icons/page_white_powerpoint.png')' ';
}
a.icon.txt:before {
	content: url('../img/led-icons/page_white_text.png')' ';
}
a.icon.word:before {
	content: url('../img/led-icons/page_white_word.png')' ';
}
a.icon.xls:before {
	content: url('../img/led-icons/page_white_excel.png')' ';
}
a.icon.audio:before {
	content: url('../img/led-icons/doc_music.png')' ';
}
a.icon.movie:before {
	content: url('../img/led-icons/doc_film.png')' ';
}
a.icon.zip:before {
	content: url('../img/led-icons/doc_film.png')' ';
}

/*=== contents ===*/
.contents > h1 {
	margin: 0 0 .5em;
	font-size: 1.25em;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 1px 0 #fff;
}
/*あとで整理*/
.contents h2 {
	margin: 1em 0 .5em;
/*	font-size: 1.25em;*/
	background-color: #fcc;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 1px 0 #fff;
}
.contents h3 {
	font-size: 1.1em;
	margin: 1em 0 .25em;
}

.w1em {width: 1em !important;}
.w2em {width: 2em !important;}
.w3em {width: 3em !important;}
.w4em {width: 4em !important;}
.w5em {width: 5em !important;}
.w8em {width: 8em !important;}
.w10em {width: 10em !important;}
.w15em {width: 15em !important;}
.w20em {width: 20em !important;}
.w25em {width: 25em !important;}

.w10 {width: 10%;}
.w20 {width: 20%;}
.w25 {width: 25%;}
.w30 {width: 30%;}
.w33 {width: 33%;}
.w48 {width: 48%;}
.w50, .wharf {width: 50%;}
.w75 {width: 75%;}
.w98 {width: 98%;}
.w100, .wfull {width: 100%;}

.hw1em h1, .hw1em h2, .hw1em h3, .hw1em h4, .hw1em h5 {width: 1em !important;}
.hw2em h1, .hw2em h2, .hw2em h3, .hw2em h4, .hw2em h5 {width: 2em !important;}
.hw3em h1, .hw3em h2, .hw3em h3, .hw3em h4, .hw3em h5 {width: 3em !important;}
.hw4em h1, .hw4em h2, .hw4em h3, .hw4em h4, .hw4em h5 {width: 4em !important;}
.hw5em h1, .hw5em h2, .hw5em h3, .hw5em h4, .hw5em h5 {width: 5em !important;}
.hw8em h1, .hw8em h2, .hw8em h3, .hw8em h4, .hw8em h5 {width: 8em !important;}
.hw10em h1, .hw10em h2, .hw10em h3, .hw10em h4, .hw10em h5 {width: 10em !important;}
.hw15em h1, .hw15em h2, .hw15em h3, .hw15em h4, .hw15em h5 {width: 15em !important;}
.hw20em h1, .hw20em h2, .hw20em h3, .hw20em h4, .hw20em h5 {width: 20em !important;}
.hw25em h1, .hw25em h2, .hw25em h3, .hw25em h4, .hw25em h5 {width: 25em !important;}


/*=== tbl_scrollable ===*/
/*.nocelspan */
.tbl_scrollable.nocelspan thead tr {
	float: left;
	width: 100%;
}
.tbl_scrollable.nocelspan tbody {
	float: left;
	width: 100%;
	height: 400px;
	overflow: auto;
}



/*  */
.jslcm_tbl_wrapper {
	position: relative;
	overflow-y: hidden;
	overflow-x: visible;
	outline: 1px solid #aaa;
	outline-offset: -1px;
}
.jslcm_tbl_wrapper table {
	margin-top: 0;
	margin-bottom: 0;
}
.jslcm_tbody_wrapper {
	overflow-y: auto;
}
.jslcm_tbody_wrapper,
.jslcm_fixed_thead,
.jslcm_fixed_tfoot {
	width: 100%;
}
.jslcm_tbody_wrapper { 
	overflow-x: hidden;
}
.jslcm_fixed_thead,
.jslcm_fixed_tfoot {
	overflow-x: visible;
}
.jslcm_fixed_thead,
.jslcm_fixed_tfoot {
	position: absolute;
}
.jslcm_fixed_thead {
	top: 0;
}
.jslcm_fixed_tfoot {
	bottom: 0;
}
.jslcm_fixed_thead,
.jslcm_fixed_thead a,
.jslcm_fixed_tfoot ,
.jslcm_fixed_tfoot a {
	z-index: 1;
}

#help_window {
	background: rgb(250, 250, 250);
	position: fixed;
	z-index: 110;
	top: 2.25em;
	right: 0;
	box-shadow: 0 0 6px #aaa;
	-moz-box-shadow: 0 0 6px #aaa;
	-o-box-shadow: 0 0 6px #aaa;
	-ms-box-shadow: 0 0 6px #aaa;
	/* filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true),; */
	progid: DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), 
	 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), 
	 /*
	 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);
	 */;
	border: 1px solid #b9b9b9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 250px;
	min-height: 1.2em;
	width: 300px;
	padding-bottom: 10px;
	min-width: 200px;
	overflow: hidden;
	display: none;
}
#help_title {
	cursor: move;
}
#help_txt {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
	height: 100%;
	width: 100%;
	padding: 10px 15px 20px;
	overflow: auto;
	font-size: .9em;
}
#help_txt h2 {
	margin: 1.5em 0 .25em;
	border-bottom: 1px solid #aaa;
	text-shadow: 1px 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
}
#help_txt h2:first-of-type {
	margin-top: .5em;
}
#help_txt h3 {
	margin-top: .5em;
}
#help_txt p {
	margin-bottom: .5em;
}
.lcm_close_parent {
	position: absolute;
	top: 0;
	right: 5px;
}

/*=== lcm_focus ===*/
#	<li>escape</li>_focus {
	position: absolute;
	right: 0;
}
.menubar_icon {
	width: 1.2em;
}
.mark_loading {
	display: block;
	margin: 50px auto;
}
.accesskey {
	font-weight: normal;
	font-size: .9em;
	padding-left: .1em;
}

/*=== itemindex ===*/
/*.sub_column .index_list {
	margin: 2.3em 10px 20px 0;
	padding: 10px 10px 10px 26px;
	border: 1px solid #aaa;
}
*/
.sub_column div {
	margin: 2.3em 10px 20px 0 !important;

}
.sub_column .button.primary {
	display: block;
	margin: auto;
}

.sub_column .form_group {
	margin-right: 10px;
}
.sub_column h2 {
	font-size: 100%;
	border: none;
	box-shadow: none;
	margin-top: .75em;
}
.sub_column h2:first-of-type {
	margin: 0;
}
.sub_column input,
.sub_column select {
	font-size: .9em;
}
form_group table tbody th {
	text-align: left;
	min-width: 5em;
	background-color: transparent;
}
section.search {
	margin-bottom: 1em;
}
h1 .sort_info {
	display: inline-block;
	font-weight: normal;
	font-size: .75em;
	margin-left: .5em;
}

.index_info {
	margin: 0 0 .4em;
	text-align: right;
}
.index_info p,
.pagenation_info,
.pagenation_info a {
	display: inline-block;
}
*+html .index_info p,
*+html .pagenation_info,
*+html .pagenation_info a {
	display: inline;
	zoom: 1;
}
.pagenation_info a {
	width: 1em;
	margin-left: 3px;
	border: 1px solid #ccc;
	padding: .125em 3px;
	text-align: center;
	line-height: 1.25;
	text-decoration: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.pagenation_info a:hover {
	background-color: #eee;
}
.pagenation_info input {
	margin-left: 3px;
}
/*=== for_screenreader ===*/
span.add_bracket:before {
 content: '[';
}
span.add_bracket:after {
 content: ']';
}

.aria_nd {
}

/*=== modal ===*/
.modal
{
	display: none;
}
.modal.on {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	/* right: 0; */
	/* bottom: 0; */
	/* margin: auto; */
	background: #fefefe;
	padding: 10px;
	z-index: 10000;
}
#modal_wrapper {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(60, 60, 60, .75);
}
/*=== jQuery UI ===*/
.ui-widget {
	font-size: .8em !important;
}
#ui-datepicker-div {
	z-index: 100 !important;
}
.ui-datepicker-current {
	opacity: 1 !important;
}
div.ui-timepicker-div dl dd {
	margin: .75em 10px .25em 40%;
}
body .ui-datepicker select.ui-datepicker-year {
	width: 41%;
}
body .ui-datepicker select.ui-datepicker-month {
	width: 39%;
	margin-left: 4%;
}
body .ui-resizable-handle {
	z-index: 100000 !important;
}



/*=== for NetReader ===*/
.netreader .ui-tooltip {
	display: none !important;
}

/*=== Tiny MCE ===*/
.switch_mce {
	padding: 4px 0 4px 18px;
	background-repeat: no-repeat;
	background-position: left top;
}
.switch_mce.is_visual {
	background-image: url( '../img/led-icons/text_align_left.png' );
}
.switch_mce.is_text {
	background-image: url( '../img/led-icons/style.png' );
}


/*=== media_query ===*/
li.show_if_smalldisplay {
	display: none !important;
}


@media screen and (max-width: 640px) {
	body {
		padding-bottom: 10px;
	}
	.container {
		min-width: 300px;
	}
	.adminbar_bottom .adminbar_main {
		padding-right: 3.5em;
	}
	.adminbar_bottom .adminbar_sub {
		position: absolute;
		top: 0;
		right: 0;
	}
	#adminbar .toggle_item .adminbar_icon {
		margin-right: -8px;
	}
	#adminbar .adminbar_bottom .horizontal_list li {
		margin-left: -.25em;
	}
	.hide_if_smalldisplay {
		position: absolute !important;
		left: auto;
		height: 0;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
	}
	li.show_if_smalldisplay {
		display: list-item !important;
	}
	li.show_if_smalldisplay .label {
		position: relative !important;
		height: auto;
		color: #333 !important;
		text-shadow: none;
		font-weight: bold;
	}
	#render_info {
		position: fixed;
		bottom: 0;
		left: 1%;
		color: #333;
		text-shadow: none;
		line-height: 1;
	}
	.lcm_form {
		display: block;
	}
	.lcm_form .input_group,
	.lcm_form .input_group h2,
	.lcm_form .input_group div{
		display: block;
	}
	.lcm_form .input_group h2 {
		width: 100%;
		text-align: left;
		margin: .5em 0 0;
		padding: 1em 0 0;
	}
	.lcm_form .input_group .field {
		border: none;
		box-shadow: none;
	}
	.lcm_form .input_group > table {
		text-align: left;
	}
	.lcm_form .input_group > table tbody th,
	.lcm_form .input_group > table tbody td {
		min-width: inherit;
	}
}

@media screen and (max-width: 320px) {
	body {
		padding: 0;
	}
	.container {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0;
	}
	.lcm_action_login .account label,
	.lcm_action_login .password label {
		position: absolute !important;
		left: auto;
		height: 0;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
	}
	select {
		width: 100%;
	}
	form.search h2 {
		display: block;
		float: none;
		text-align: left;
	}

}