@charset "UTF-8";
/*
CSSハック(valid)
IE6 : * html 
IE7 : *+html
IE8,MacIE5,Opera9以下 html:first-child
*/
/* color

theme    #004896
title_bg #0e3664
text     #333
link     #36a
*/


/* あとでlocomoログイン時のCSSを分ける */
/*=== テスト環境の表示切り分け ===*/
.develop_info {
	position: fixed;
	bottom: .5em;
	left: 0;
	right: 0;
	color: #000;
	font-size: .9em;
	opacity: .55;
	overflow-x: hidden;
	white-space: nowrap;
	z-index: 1;
}
.develop_info.top {
	position: absolute;
	bottom: auto;
}
.testserver {
	background-color: #cdd7de !important;
}
.testserver .develop_info {
	color: #e00;
	left: 2%;
	right: 2%;
}


/*=== 基本色の設定 ===*/
a:link {
	color: #36a;
}
/* あとでテーマカラー？や、ボーダー、背景色などの基本色をあてられるクラスを設定したい */

.main_column,
.sub_column,
#adinbar,
#adminbar div,
#adminbar_logo {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
}

.main_column,
.sub_column {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
}

.horizontal_list ul,
.horizontal_list li {
	display: inline-block;
}
*+html .horizontal_list ul,
*+html .horizontal_list li {
	display: inline;
	zoom: 1;
}

.contents:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.contents {
	min-height: 1px;
}
* html .contents {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}


/*=== contents layout ===*/
.field_wrapper {
	display: inline-block;
	position: relative;
}
*+html .field_wrapper {
	display: inline;
	zoom: 1;
}
.contents .left_column,
.contents .right_column {
	float: left;
}
.contents .left_column {
	margin-right: 10px;
	width: 300px;
}
.contents .main_column {
}
.contents .sub_column {
}
.index_wrapper {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.index_wrapper .main_column,
.index_wrapper .sub_column {
	float: none;
	display: table-cell;
	vertical-align: top;
	width: 100%;
}

a.has_dropdown {
	padding-right: 15px;
	background-image: url('../img/system/mark_listopen_bk.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-left: 0;
}

.has_top_separator {
	border-top: 1px solid rgba(255,255,255,1);
	box-shadow: 0 -1px 0 #ddd;
	margin-top: -1px;
	padding-top: 3px;
}
.has_bottom_separator {
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 rgba(255,255,255,1);
	margin-bottom: 3px;
}
.has_top_separator.has_bottom_separator {
	box-shadow: 0 1px 0 rgba(255,255,255,1), 0 -1px 0 #ddd;
}
.has_bottom_separator + .has_top_separator {
	border-top: none;
	box-shadow: 0 1px 0 rgba(255,255,255,1);
}
ul.horizontal_list {
	line-height: 1.25;
	padding-left: 0;
}
.horizontal_list li {
	padding: .25em 6px .25em 0;
}
.container .horizontal_list {
	overflow: hidden;
}
.container .horizontal_list li {
	border-left: 1px solid #aaa;
	padding: 0 6px;
	margin: .25em 0 .25em -1px;
}

/* ========== 管理画面:body.loggedin ========== */

/* dashboard */
.lcm_action_dashboard .contents {
	margin-left: 0;
	margin-right: -2%;
}
.lcm_action_dashboard .widget {
	box-sizing: border-box;
	border: 1px #aaa solid;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	float: left;
	position: relative;
	height: 16em;
	overflow: hidden;
	margin: 5px 1.125% 15px 0;
	font-size: .85em;
	
}
.lcm_action_dashboard .widget.size1 {
	width: 32% !important;
}
.lcm_action_dashboard .widget.size2 {
	width: 65.125% !important;
}
.lcm_action_dashboard .widget.size3 {
	width: 98.275% !important;
}

.lcmbar_top_title {
	height: 1.5em;
	padding: .25em;
	margin: 0 !important;
	overflow: hidden;
}
.lcm_action_dashboard .widget_content {
	overflow: auto;
	position: absolute;
	top: 2em;
	left: 0;
	width: 100%;
	height: 14em;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.lcm_action_dashboard .widget_content_fc {
    display: block;
    margin: auto;
}
.lcm_action_dashboard .widget_content_fr {
	text-align: right;
}
.lcm_action_dashboard .widget_content > table:first-child {
	margin-top: 0;
}

/* widget */
.sys_admin_dashboard ul {
	padding: .5em 0;
}
.sys_admin_dashboard ul li {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style-position: inside;
	display: block;
	float: left;
	width: 50%;
}
.sys_admin_dashboard ul a:hover {
	background-color: #d8ebfc;
}
.sys_admin_dashboard ul a {
	display: block;
	text-indent: -1.5em;
	padding-left: 1.5em;
	color: #333 !important;
	text-decoration: none;
}
.sys_admin_dashboard ul a:before {
	content: "・";
	color: #004896;
	font-size: 1.5em;
	line-height: 1.25em;
	font-family: sans-serif;
	font-weight: bold;
	display: inline;
	top: .1em;
	position: relative;
}
.scdl_dashboard_today td.time{
	min-width: 6.5em;
}

/* button */
.btn,
.button {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
.button.min {
	padding: 3px 5px;
	margin: 0 2px;
}
.btn.primary,
.button.primary {
	background-color: #2a78ca;
	border: 1px solid  #357ebd;
	color: #fff;
	padding: 5px 15px;
}
.btn.primary:hover,
.btn.primary:focus,
.button.primary:hover,
.button.primary:focus {
	border: 1px solid  #357ebd;
	background-color: #29619d;
	color: #fff;
	padding: 5px 15px;
}
.btn.primary:active,
.button.primary:active {
	border: 1px solid  #357ebd;
	padding: 5px 15px;
	background-color: #29619d;
}
a.btn_danger,
a.btn_danger:hover,
a.btn_danger:active,
a.btn.danger,
a.button.danger,
a.btn.danger:hover,
a.button.danger:hover,
a.btn.danger:active,
a.button.danger:active {
/*	color: #fff; */
}
.btn_danger,
.btn.danger,
.button.danger {
/*
	border-color: #d43f3a;
	background-color: #d9534f;
	color: #fff;
*/
	background-color: #f6cccc;
}
.btn_danger:hover,
.btn.danger:hover,
.button.danger:hover {
	border-color: #ac2925;
	background-color: #c9302c;
	color: #fff;
}
.btn_danger:active,
.button.danger:active {
	border-color: #ac2925;
	background-color: #c9302c;
	color: #fff;
}
.btn.small,
.button.small {
	padding: 2px 5px;
	margin: 0 2px 0 0;
}
.btn.small.primary,
.button.small.primary {
	padding: 1px 5px;
	font-weight: normal;
}
.btn.small.primary:hover,
.button.small.primary:hover,
.btn.small.primary:active,
.button.small.primary:active {
	border-width: 2px;
	padding: 0 4px;
}
.btn.btn_block,
.button.button_block {
	display: block;
	width: 100%;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
	margin-bottom: 10px;
}
.btn.btn_block,
.btn.btn_block:hover,
.btn.btn_block:active,
.btn.btn_block:focus,
.button.button_block,
.button.button_block:hover,
.button.button_block:active,
.button.button_block:focus {
	padding: .75em 0;
}
.btn.disabled,
.button.disabled,
input.button[disabled],
a.button[disabled],
fieldset[disabled] input.button,
fieldset[disabled] a.button {
	cursor: not-allowed;
	pointer-events: none; /* IEは11以上から */
	opacity: .65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
}
.validation_error input,
.validation_error select,
.validation_error textarea,
.has_error {
	background-color: #fff3f3;
	outline-color: rgba(238,153,153,.6);
}
.no_appearance {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[disabled],
select[disabled],
textarea[disabled] {
	background-color: #eee ;
	box-shadow:none;
}
#form_username,
#form_email,
input[type="password"],
input.int,
input.time,
input.date,
input,datetime,
input.han {
	ime-mode: inactive;
}
input:read-only {
	border: none;
	background: transparent;
}
.btn_group {
	white-space: nowrap;
}
.btn_group a {
	margin-left: .5em;
}
.btn_group a:first-child {
	margin-left: 0;
}
a.delete {
	color: #a20;
}
a.undelete {
	color: #290;
}

/* hidden_item */
.hidden_item {
	display: none;
}
.hidden_item.on {
	display: block !important;
}

/* alert */
div.flash_alert {
	position: relative;
	padding:5px 20px 5px 10px;
	margin: 10px 0;
	text-align: left;
}
div.flash_alert.alert_success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #111;
}
div.flash_alert.alert_error {
	background-color: #fae6e6;
	border-color: #e9c6c6;
	color: #111;
	padding-left: 35px;
	background-image: url('../img/led-icons/error.png');
	background-repeat: no-repeat;
	background-position: 10px center;
}
.flash_alert ul.link a {
	text-decoration: none;
	color: #333 !important;
}
.flash_alert ul.link a:hover {
	text-decoration: underline;
}
.link_alert_error:focus {
	position: relative !important;
}

/* tooltip */
div.lcm_tooltip {
	background: rgba(255, 255, 255, .97) !important;
	font-size: .9em !important;
}
div.lcm_tooltip {
	-moz-box-shadow: 0 0 2px #aaa;
	-o-box-shadow: 0 0 2px rgba(128, 128, 128, .5) ;
	-ms-box-shadow: 0 0 2px rgba(128, 128, 128, .5);
	box-shadow: 0 0 2px rgba(128, 128, 128, .5);
	border: 1px solid #aaa !important;
	max-width: 100%;
}
.lcm_tooltip:after,
.lcm_tooltip:before {
	top: 100%;
	left: 2em;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
/*
.lcm_tooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}
.lcm_tooltip:before {
	border-color: rgba(170, 170, 170, 0);
	border-top-color: #aaa;
	border-width: 6px;
	margin-left: -6px;
}
*/
div.lcm_tooltip {
	font-size: .75em !important;
}
.lcm_action_calendar .lcm_tooltip th {
	min-width: 6em;
	text-align: right;
	font-weight: bold;
}
.lcm_action_calendar div.lcm_tooltip {
	max-width: 350px ;
}
/* tooolbar */
.index_toolbar {
	margin: 20px 0 5px;
}
table + .index_toolbar {
	margin-top: 5px;
}
.index_toolbar * {
	vertical-align: middle;
}
.index_toolbar_buttons {
	float: left;
}

/* pagenation */
.index_toolbar .pagination {
	float: right;
}
.pagination a {
	padding: 5px 10px;
}
.pagination .active a,
.pagination a:hover,
.select_period .active {
	background-color: #eee;
	transition: 0.3s;
}
.pagination .active a,
.select_period .active {
	font-weight: bold;
}

/*===  form  ===*/
.form_group {
	margin: 5px 0 20px;
	padding: 10px;
	background-color: #efefef;
}
.contents form h2 {
	margin: 1.5em 0 .5em;
	padding-top: .5em;
	font-size: 1em;
	border-top: 1px solid #aaa;
	border-bottom: none;
	box-shadow: 0 -1px 0 #fff;
}
.contents form h3 {
	font-size: 1em;
}
.container .search .label_fb label * {
	vertical-align: baseline;
}

/*===  lcm_form  ===*/
.lcm_form {
	position: relative;
	min-height: 1px;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 1.25em;
	padding-bottom: 4em;
}
.lcm_form:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
* html .lcm_form:after {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
.contents .lcm_form h2 {
	border: none;
	box-shadow: none;
}
.lcm_form > .input_group ,
.lcm_form .hidden_item > .input_group {
	width: 100%;
	clear: both;
	border-top: 1px solid #fff;
	box-shadow: 0 -1px 0 #ccc;
}
.lcm_form .input_group > .input_group {
	display: inline-block;
}
.input_group * {
	vertical-align: top;
}
.lcm_form > .input_group:first-child {
	border: none;
	box-shadow: none;
}
.lcm_form .input_group > h2 ,
.lcm_form .hidden_item .input_group > h2 {
	float: left;
}
.lcm_form .input_group h2,
.lcm_form section h1,
.lcm_form .input_group .field,
.lcm_form .input_group table {
	font-size: 1em;
	margin: 0;
	padding: 1em 0 .8em;

}
.lcm_form .input_group > h2,
.lcm_form  .toggle_item.disclosure,
.lcm_form  .hidden_item .input_group > h2 {
	font-size: 1em;
	width: 11em;
	text-align: right;
}
.lcm_form .input_group > .field,
.lcm_form .hidden_item .input_group > .field,
.lcm_form .input_group table,
.lcm_form .hidden_item .input_group table {
	display: block;
	margin-left: 11em;
	padding-left: .75em;
}
.lcm_form .input_group table tbody th,
.lcm_form .input_group table tbody td {
	border-top: 1px solid #ccc;
	padding: .5em 0;
	min-width: 8em;
}

/* placeholder */
/*Webkit*/
::-webkit-input-placeholder {color: #bbb;}
/*Firefox 19以降*/
::-moz-placeholder    {color: #bbb;}
/*Firefox 18以前*/
:-moz-placeholder    {color: #bbb;}
/*Windows IE*/
:-ms-input-placeholder    {color: #bbb;}

/*== lcm_form.compact ==*/
.lcm_form.compact {
	padding-bottom: 0 !important; /*とりあえず*/
	border: 4px double #bbb;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}



/*=== multiple_select ===*/
.lcm_multiple_select {
	position: relative;
	height: 13.5em;
}
.lcm_multiple_select .remove_item,
.lcm_multiple_select .add_item {
    position: absolute;
    left: 13.5em;
}
.lcm_multiple_select .add_item {
	top: 5.5em;
}
.lcm_multiple_select .remove_item {
    top: 10em;
}
.lcm_multiple_select label {
	display: block;
	padding: 1em 0 0;
	font-weight: bold;
	text-align: center;
}
.lcm_multiple_select .multiple_select_content,
.lcm_multiple_select select,
.lcm_multiple_select select[size] {
	margin-bottom: .5em;
	width: 11em;
	height: 10.5em;
}
.lcm_multiple_select .multiple_select_content {
	position: absolute;
	top: 0;
	left: 15.5em;
}
.lcm_multiple_select .multiple_select_content:first-child {
	position: relative;
	top: auto;
	left: auto;
}
.lcm_multiple_select .selected {
	margin-left: 0;
}

.lcm_form textarea {
	width: 98%;
/*	max-width: 800px; */
}
.lcm_form .address input[type="button"] {
	margin-bottom: .5em;
}
.lcm_form .address input[type="text"] {
	display: block;
	margin-bottom: -1px;
	width: 25em;
}
.lcm_form .submit_button {
	position: absolute;
	right: 10px;
	bottom: .25em;
}

form tbody th {
	text-align: left;
	padding-right: 5px;
}
dl.field dt {
	font-weight: bold;
}
.input_group .multiple_button {
	display: inline-block;
	height: 100%;
	width: 5em;
	text-align: center;
	line-height: 2.5em;
	vertical-align: middle;
}
label {
	display: inline-block;
}
html:first-child label {
	display: none;
}
input,
select,
textarea {
	margin-bottom: .25em;
	margin-left: .33em;

}
select[size] {
	height: auto;
}
select,
select[size="0"] {
	height: 1.95em;
}
div.submit_button {
	width: 100%;
	text-align: right;
	margin: 1em 0 .5em;
}

.input[type="checkbox"] {
	width: 1em;
	height: 1em;
}

.lcm_ieversion_0 .input[type="checkbox"]{
	width: inherit;
	height: inherit;
}
.label_required {
	font-weight: normal;
	font-size: .75em;
	letter-spacing: .125em;
	margin:0 .5em;
	padding: .2em .25em .15em;
	vertical-align: text-bottom;
	color: #fff;
	background-color: #f07070;
	border-radius: 3px;
}
span#customer_address2:empty + br,
span#customer_address3:empty + br {
	display: none;
}
.disclosure {
	display: block;
	position: relative;
	color: #333 !important;
	font-size: .9em;
	text-decoration: none;
	background-image: url('../img/system/mark_disclose.png');
	background-position: 4px center;
	background-repeat: no-repeat;
	padding: .125em 0 .125em 15px;
	margin: 0;
	width: 100%;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.disclosure.on {
	background-image: url('../img/system/mark_disclose_on.png');
	background-position-x: 0;
}
.disclosure.nomarker {
	background-image: none;
	padding-left: 5px;
}
.disclosure.nomarker span.icon {
	padding-left: 15px;
	background-image: url('../img/system/mark_disclose.png');
	background-position: 4px center;
	background-repeat: no-repeat;
}
.disclosure span.icon {
	font-size: .8em;
	line-height: 1.5;
	height: 1.75em;
/*あとで、無理矢理なのを直す*/
	position: relative;
    bottom: -.4em;
}
.disclosure span.icon img {
	margin: 0 0 0 .25em;
}
.disclosure.nomarker.on span.icon {
	background-image: url('../img/system/mark_disclose_on.png');
	background-position-x: 0;
}
.disclosure:hover {
	background-color: #e8e8e8;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
span.icon {
	display: inline-block;
	height: 1.25em;
	font-weight: normal;
}
span.icon.fr {
	margin-bottom: 0;
}
span.icon a {
	margin-top: .12em;
	font-size: .75em;
}
span.icon img {
	width: 1.5em;
	margin: 0 .125em 0 .25em;
}

#page_title + .hidden_item {
	margin-top: -.6em;
	padding-left: 0;
}
form.search .input_group {
	display: inline-block;
}
form.search > .input_group {
	display: block;
	width: 100%;
	margin-left: 1em;
	margin-bottom: .25em;
}
/*IE8以下用にあとで分岐する。*/
.lcm_ieversion_6 .input_group .input_group,
.lcm_ieversion_7 .input_group .input_group,
.lcm_ieversion_8 .input_group .input_group,
.lcm_ieversion_6 label,
.lcm_ieversion_7 label,
.lcm_ieversion_8 label {
	white-space: nowrap;
}
.lcm_ieversion_6 input[type="text"],
.lcm_ieversion_7 input[type="text"],
.lcm_ieversion_8 input[type="text"],
.lcm_ieversion_6 input[type="search"],
.lcm_ieversion_7 input[type="search"],
.lcm_ieversion_8 input[type="search"],
.lcm_ieversion_6 input[type="tel"],
.lcm_ieversion_7 input[type="tel"],
.lcm_ieversion_8 input[type="tel"],
.lcm_ieversion_6 input[type="url"],
.lcm_ieversion_7 input[type="url"],
.lcm_ieversion_8 input[type="url"],
.lcm_ieversion_6 input[type="email"],
.lcm_ieversion_7 input[type="email"],
.lcm_ieversion_8 input[type="email"],
.lcm_ieversion_6 input[type="datetime"],
.lcm_ieversion_7 input[type="datetime"],
.lcm_ieversion_8 input[type="datetime"],
.lcm_ieversion_6 input[type="date"],
.lcm_ieversion_7 input[type="date"],
.lcm_ieversion_8 input[type="date"],
.lcm_ieversion_6 input[type="month"],
.lcm_ieversion_7 input[type="month"],
.lcm_ieversion_8 input[type="month"],
.lcm_ieversion_6 input[type="week"],
.lcm_ieversion_7 input[type="week"],
.lcm_ieversion_8 input[type="week"],
.lcm_ieversion_6 input[type="time"],
.lcm_ieversion_7 input[type="time"],
.lcm_ieversion_8 input[type="time"],
.lcm_ieversion_6 input[type="datetime-local"],
.lcm_ieversion_7 input[type="datetime-local"],
.lcm_ieversion_8 input[type="datetime-local"],
.lcm_ieversion_6 input[type="number"],
.lcm_ieversion_7 input[type="number"],
.lcm_ieversion_8 input[type="number"],
/* input[type="password"], 環境によりマスク文字が小さく表示されるため除外 */
.lcm_ieversion_6 textarea,
.lcm_ieversion_7 textarea,
.lcm_ieversion_8 textarea {
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}



form.search .input_group *{
	vertical-align: top;
}
form.search h2 {
	display: inline-block;
	height: 1.75em;
	width: 8em;
	margin-top: 0;
	padding: 0;
	text-align: right;
	border: none;
	box-shadow: none;
}
form.search select {
	max-width: 10em;
}

em.exp:empty {
	display: none;
}

a.show_item:hover {
	text-decoration: underline;
}
a.asc:after {
	content: ' ▲';
}
a.desc:after {
	content: ' ▼';
}

/*===  table  ===*/
th.min,
td.min,
th.minimum,
td.minimum {
	width: 1px;
	white-space: nowrap;
}
.tbl_wrapper {
	overflow-x: auto;
}

/* tbl datatable */
*>table.datatable thead th,
*>table.datatable .thead th,
*>table.datatable thead td,
*>table.datatable .thead td,
*>table.datatable td,
.datatable td {
	padding:.25em .5em;
}
.datatable {
	background-color: #fefefe;
	font-size: .9em;
}
.datatable thead th,
.datatable thead td,
.datatable tbody tr:last-child th,
.datatable tbody tr:last-child td,
.datatable tfoot tr:last-child th,
.datatable tfoot tr:last-child td {
	border-bottom: 1px solid #bbb;
}

.datatable tbody th {
	font-weight: normal;
	padding:.25em .5em;	
} 
.lcm_ctrl_-controller_flr .datatable tbody th.dir {
	background-image: url('../img/system/mark_disclose.png') !important;
	background-position: right center !important;
	background-repeat: no-repeat !important;
	background-size: 6px 9px !important;
}
.datatable tbody th a {
	display: block;
}
.datatable th,
.datatable td {
	border-bottom: 1px solid #eee;
}
.datatable td {
	white-space: nowrap;
}
.datatable.schedule_day td,
.widget .datatable.schedule_day td {
	white-space: normal;
}
.datatable tbody tr:nth-child(odd) {
	background: #fefefe;
}
.datatable tbody tr:nth-child(even) {
	background: #f0f0f0;
}
.datatable tbody tr:nth-child(odd) th {
	background: #f3f3f3;
}
.datatable tbody tr:nth-child(even) th {
	background: #e3e3e3;
}
.datatable thead a,
.datatable .thead a {
	display: block;
	text-decoration: none;
	color: #333;
}
.datatable thead a:hover,
.datatable .thead a:hover {
	background-color: #d0d0d0;
	text-decoration: underline;
}
.datatable tr.current th,
.datatable tr.affected th,
.datatable tr.affected:nth-child(even) th,
.datatable tbody tr:hover th,
.datatable tfoot tr:hover th {
	background-color: #f0f0ba;
}
.datatable tr.current td,
.datatable tr.affected td,
.datatable tbody tr:hover td,
.datatable tfoot tr:hover td {
	background-color: #fafac6;
}

.datatable tbody tr.checked th {
	background-color: #c6e0f0;
}
.datatable tbody tr.checked td {
	background-color: #d8ebfc;
}
.datatable tbody tr.checked:nth-child(even) th {
	background-color: #c0daea;
}
.datatable tbody tr.checked:nth-child(even) td {
	background-color: #d0e6f8;
}

.datatable tbody tr.checked:hover th,
.datatable tfoot tr.checked:hover th {
	background-color: #dfefd9;
}
.datatable tbody tr.checked:hover td,
.datatable tfoot tr.checked:hover td {
	background-color: #e3f3da;
}

.datatable tfoot.thead tr:hover th {
	background-color: #eee;
}
.datatable tfoot.thead tr:hover td {
	background-color: #fefefe;
}
.col_scrollable {
	display: block;
	white-space: normal;
	overflow-y: auto;
	overflow-x: hidden;
	height: 1.7em;
	margin: -.25em -6px -.25em -.5em;
	padding: 0 .5em;
}
.l2 .col_scrollable {
	height: 3.1em;
}
.l3 .col_scrollable {
	height: 4.5em;
}
.l4 .col_scrollable {
	height: 6em;
}
.l5 .col_scrollable {
	height: 7.5em;
}
.formtable {
	border-spacing: 0px;
	width: 100%;
	border-left: none;
}
.formtable th,
.formtable td {
	text-align: left;
	padding: 8px 5px;
	border-bottom: 1px #ccc solid;
	box-shadow: 0 1px 0 #f3f3f3;
	border-right: none;
}
.formtable tr:last-child th,
.formtable tr:last-child td {
	border-bottom: none;
}
.formtable thead th {
	text-align: left;
}

/*=== calendar ===*/
.field_wrapper.calendar {
	text-align: center;
}
.field_wrapper.calendar_detail {
	display: block;
}
.select_period {
	display: inline-block;
	position: relative;
}
*+html .select_period {
	display: inline;
	zoom: 1;
}
.select_period .prev_month {
	margin-left: 4em;
}
.select_period .next_year {
	margin-left: 4em;
}
.select_period .next_month,
.select_period .prev_year {
	position: absolute;
	padding: 2px 10px;
	top: -2px;
}
.select_period .next_month {
	right: 4em;
}
.select_period .prev_year {
	left: 0;
}
.select_period .select_num {
	display: inline-block;
}
.select_period .active {
	padding: 5px 10px;
}

.narrow_user,
.narrow_building {
	text-align: left;
	margin: 16px auto 1.5em;
}
table.calendar {
	margin-top: 1em;
	table-layout: fixed;
	text-align: left;
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
	border-spacing: 0px;
	border-top: none;
	border-left: none;
	width: 100%;
}
.calendar th,
.calendar td {
	padding: 3px 3px 2px;
	border-bottom: 1px #bbb solid;
	border-right: 1px #bbb solid;
/*	width: 8em;*/
	background-color: transparent;
}
.calendar thead * {
	vertical-align: middle;
}
.calendar thead th {
	border-bottom: 3px solid #36a;
	border-right: none !important;
}
.calendar thead span {
	display: inline-block;
	margin-left: 2px;
	width: 1em;
	white-space: nowrap;
	overflow-x: hidden;
}

.calendar tbody th,
.calendar tbody td:first-child {
	border-left: 1px solid #bbb;
}
.calendar tbody th,
.calendar tbody td {
	box-shadow: 0 0 2px rgba(0,0,0,.2);
	background: #fafafa;
	border-top: 1px solid #fff;
}
.calendar tbody th {
	border-right: 3px double #bbb;
}
.calendar tbody td {
	border-left: 1px solid #fff;
}

.calendar td.today {
	background-color: #fafac6;
}
.calendar td.week6.today {
	background-color: #f6f6e6;
}
.calendar td.week0.today,
.calendar td.holiday.today {
	background-color: #faf0da;
}

.calendar th.week6 {
	color: darkcyan;
	border-color: darkcyan;
}
.calendar td.week6 {
	background-color: #f0f0f0;
}
.calendar th.week0 {
	color: indianred;
	border-color: indianred;
}
.calendar td.week0,
.calendar tbody td.holiday {
	background-color: #faf0ea;
}
.calendar td {
	vertical-align: top;
	padding: 0;
}
.calendar .each_date {
	min-height: 5.5em;
	position: relative;
	padding: 3px 2px;
}
.calendar .title {
	display: block;
	margin-right: 1px;
	padding-top: 2px;
	line-height: 1em;
	font-size: .85em;
	color: #888;
	font-weight: bold;
	text-decoration: none;
}
.calendar th.week6,
.calendar td.week6 .title {
	color: darkcyan;
}
.calendar th.week0,
.calendar td.week0 .title ,
.calendar tbody td.holiday .title {
	color: indianred;
}

.calendar .title ,
.week6 .title,
.week0 .title {
	background-color: transparent;
}
.calendar .title:hover ,
.calendar .events a:hover {
	background-color: #eee;
	transition: .3s;
}
.week0 .title:hover,
.holiday .title:hover ,
.week0 .events a:hover {
	background-color: #f3e6e3;
}
.week6 .title:hover,
.week6 .events a:hover {
	background-color: #e6eae6;
}
.calendar a.title * {
	vertical-align: middle;
}
.calendar .date_str {
	display: inline-block;
	width: 1.75em;
	height: 1.25em;
	line-height: 1.25em;
	overflow-y: hidden;
	font-family: Arial;
	font-size: 1.25em;
	margin-right: -.85em;
}
.calendar .holiday_name {
	font-weight: normal;
	display: inline-block;
	padding-right: 1.5em;
}
.calendar .add_new {
	position: absolute;
	top: .4em;
	right: 1em;
	width: 0;
	line-height: .75em;
	padding: 2px 4px;
	text-decoration: none;
	color: #aaa;
}
.calendar .add_new:before {
	content : '＋';
}
.calendar .add_new:hover {
	color: #36f;
} 

table.calendar .events {
	padding: 0 2px 5px;
	font-size: .85em;
}
.calendar .events p {
	margin-top: .5em;
	line-height: 125%;
}
.calendar .events a {
	text-decoration: none;
	display: block;
}
.calendar .events a:hover {
	text-decoration: under-line;
}
.widget .calendar {
	margin: 0;
	min-width: 100%;
}
.widget.size1 .calendar {
	font-size: 85%;
}

.calendar.week tbody th,
.schedule_day.graph tbody th {
	background-color: #eaf0f5;
}

.widget .schedule_day.detail th,
.widget .schedule_day.detail td {
	padding: .125em;
}

/*== 時間グラフ ==*/
.schedule_day.graph {
	table-layout: fixed;
}
.schedule_day.graph th.name,
.widget .schedule_day.detail th.name {
	width: 6em;
	white-space: normal;
}
.schedule_day.graph .time {
	font-size: .75em;
	text-align: center;
	white-space: nowrap;
	padding: 2px;
}
.schedule_day.graph .bar td {
	padding: 0;
	border-right-color: #ddd;
}
.schedule_day.graph .bar td:last-child{
	border-right-color: #bbb;
}
.schedule_day.graph tbody td{
	height: .75em;
}
.schedule_day.graph .time.h0,
.schedule_day.graph .time.h1,
.schedule_day.graph .time.h2,
.schedule_day.graph .time.h3,
.schedule_day.graph .time.h4,
.schedule_day.graph .time.h5,
.schedule_day.graph .time.h6,
.schedule_day.graph .time.h7,
.schedule_day.graph .time.h8,
.schedule_day.graph .time.h21,
.schedule_day.graph .time.h22,
.schedule_day.graph .time.h23 {
/*	width: 1.25em;  縮小した時に、むしろ営業時間帯より長くなってしまうので */
}
.schedule_day.graph .bar td {
	height: 1.5em;
}
.schedule_day.graph .active {
	background-color: #d8ebfc;
	cursor: pointer;
}

.datatable.schedule_day.detail tbody .members,
.datatable.schedule_day.detail tbody .buildings {
	white-space: normal;
}
.datatable.schedule_day.detail tbody .detail {
	min-width: 8em;
}



.legend.calendar {
	text-align: left;
	font-size: .75em;
	margin-top: 15px;
	margin-left: -.75em;
}
.widget .legend.calendar {
	margin-top: .75em;
	margin-left: -.5em;
	padding-bottom: .75em;
}
.legend .text_icon {
	margin-left: 1em;
}
schedule_day.graph th,
schedule_day.graph td {
	padding: 2px;
}
.text_icon {
	display: inline-block;
	padding: .15em .125em .1em;
	font-size: .85em;
	background-color: #999;
	margin-right: 3px;
	width: 1em;
	height: 1em;
	line-height: 1em;
	border-radius: 2px;
	color: #fff;
}

.lcm_action_viewdetail h1 span,
.lcm_action_regchange h1 span {
	font-weight: normal;
}
.lcm_action_viewdetail h1 span.icon,
.lcm_action_regchange h1 span.icon {
	width: 1.125em;
	line-height: 1.125em;
	margin-right: .5em;
}

/*== 重要度 ==*/
.calendar .icon img ,
.schedule_day.detail .icon img ,
.legend.calendar .icon img {
	width: .9em;
	margin: 0 .125em .2em 0;
	line-height: 1.25em;
}
.legend.calendar .icon img {
	margin-left: .75em;
}

/*== 外部表示 ==*/
.text_icon.public {
	background-color: #ac2000;
}
.text_icon.public:before {
	content: '外';
}
.legend .text_icon.public + span:before {
	content: '外部表示';
}

/*== 繰り返し ==*/
/*  毎日  */
.text_icon.repeat_kb_1 {
	background-color: #2063ac;
}
.text_icon.repeat_kb_1:before {
	content: '日';
}
.legend .text_icon.repeat_kb_1 + span:before {
	content: '毎日';
}

/*  毎日（土日除く）  */
.text_icon.repeat_kb_2 {
	background-color: #1a518e;
}
.text_icon.repeat_kb_2:before {
	content: '平';
}
.legend .text_icon.repeat_kb_2 + span:before {
	content: '平日';
}
/*  毎週  */
.text_icon.repeat_kb_3 {
	background-color: #c60;
}
.text_icon.repeat_kb_3:before {
	content: '週';
}
.legend .text_icon.repeat_kb_3 + span:before {
	content: '毎週';
	color: #333;
}
/*  毎月  */
.text_icon.repeat_kb_4 {
	background-color: #666;
}
.text_icon.repeat_kb_4:before {
	content: '月';
}
.legend .text_icon.repeat_kb_4 + span:before {
	content: '毎月';
}
/*  毎月(曜日指定)  */
.text_icon.repeat_kb_6 {
	background-color: #c0a000;
}
.text_icon.repeat_kb_6:before {
	content: '月';
}
.legend .text_icon.repeat_kb_6 + span:before {
	content: '毎月(曜日指定)';
}

/*  毎年  */
.text_icon.repeat_kb_5 {
	background-color: #17a8a0;
}
.text_icon.repeat_kb_5:before {
	content: '年';
}
.legend .text_icon.repeat_kb_5 + span:before {
	content: '毎年';
}

/*== 詳細設定 ==*/
/*  仮予約  */
.text_icon.provisional_kb {
	background-color: #666;
}
.text_icon.provisional_kb:before {
	content: '仮';
}
.legend .text_icon.provisional_kb + span:after {
	content: '仮登録';
}

/*  時間指定無し  */
.text_icon.unspecified_kb {
	background-color: #3a6;
}
.text_icon.unspecified_kb:before {
	content: '無';
}
.legend .text_icon.unspecified_kb + span:after {
	content: '時間指定無し';
}
/*  終日  */
.text_icon.allday_kb {
	background-color: #36a;
}
.text_icon.allday_kb:before {
	content: '終';
}
.legend .text_icon.allday_kb + span:after {
	content: '終日';
}
/* 重要度 */
.legend .icon.mark_importance.kb_0:after {
	content: '重要度 高';
}
.legend .icon.mark_importance.kb_1 + span:after {
	content: '重要度 中';
}
.legend .icon.mark_importance.kb_2 + span:after {
	content: '重要度 低';
}
/* 公開状態 */
.legend .icon.mark_private + span:after {
	content: '非公開';
}

/* 登録者関係 */
.text_icon.proxy {
	background-color: #804000;
}
.text_icon.proxy:before {
	content: '代';
}
.text_icon.proxy + span:after {
	content: '代理登録';
}


/*=== filer ===*/
a.icon.dir:before,     span.icon.dir:before     { content: url('../img/led-icons/folder.png')' ';}
a.icon.file:before,    span.icon.file:before    { content: url('../img/led-icons/page.png')' ';}
a.icon.braille:before, span.icon.braille:before { content: url('../img/led-icons/page_braille.png')' ';}
a.icon.image:before,   span.icon.image:before   { content: url('../img/led-icons/picture.png')' ';}
a.icon.pdf:before,     span.icon.pdf:before     { content: url('../img/led-icons/doc_pdf.png')' ';}
a.icon.ppt:before,     span.icon.ppt:before     { content: url('../img/led-icons/page_white_powerpoint.png')' ';}
a.icon.txt:before,     span.icon.txt:before     { content: url('../img/led-icons/page_white_text.png')' ';}
a.icon.doc:before,     span.icon.doc:before     { content: url('../img/led-icons/page_white_word.png')' ';}
a.icon.xls:before,     span.icon.xls:before     { content: url('../img/led-icons/page_white_excel.png')' ';}
a.icon.audio:before,   span.icon.audio:before   { content: url('../img/led-icons/doc_music.png')' ';}
a.icon.movie:before,   span.icon.movie:before   { content: url('../img/led-icons/doc_film.png')' ';}
a.icon.compressed:before,     span.icon.compressed:before     { content: url('../img/led-icons/page_zip.png')' ';}

/*=== contents ===*/
.contents > h1 {
	margin: 0 0 .5em;
	font-size: 1.25em;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 1px 0 #fff;
}
/*あとで整理*/
.contents h2 {
	margin: 1em 0 .5em;
/*	font-size: 1.25em;*/
	border-bottom: 1px solid #aaa;
	box-shadow: 0 1px 0 #fff;
}
.contents h3 {
	font-size: 1.1em;
	margin: 1em 0 .25em;
}

.hide_if_no_js {
	display: none;
}

.w1em  {width: 1em !important;}
.w2em  {width: 2em !important;}
.w3em  {width: 3em !important;}
.w4em  {width: 4em !important;}
.w5em  {width: 5em !important;}
.w6em  {width: 6em !important;}
.w7em  {width: 7em !important;}
.w8em  {width: 8em !important;}
.w9em  {width: 9em !important;}
.w10em {width: 10em !important;}
.w15em {width: 15em !important;}
.w20em {width: 20em !important;}
.w25em {width: 25em !important;}
.w40em {width: 40em !important;}
.w50em {width: 50em !important;}

.w10 {width: 10%;}
.w20 {width: 20%;}
.w25 {width: 25%;}
.w30 {width: 30%;}
.w33 {width: 33%;}
.w48 {width: 48%;}
.w50, .wharf {width: 50%;}
.w75 {width: 75%;}
.w98 {width: 98%;}
.w100, .wfull {width: 100%;}

.hw1em h1, .hw1em h2, .hw1em h3, .hw1em h4, .hw1em h5 {width: 1em !important;}
.hw2em h1, .hw2em h2, .hw2em h3, .hw2em h4, .hw2em h5 {width: 2em !important;}
.hw3em h1, .hw3em h2, .hw3em h3, .hw3em h4, .hw3em h5 {width: 3em !important;}
.hw4em h1, .hw4em h2, .hw4em h3, .hw4em h4, .hw4em h5 {width: 4em !important;}
.hw5em h1, .hw5em h2, .hw5em h3, .hw5em h4, .hw5em h5 {width: 5em !important;}
.hw6em h1, .hw6em h2, .hw6em h3, .hw6em h4, .hw6em h5 {width: 6em !important;}
.hw7em h1, .hw7em h2, .hw7em h3, .hw7em h4, .hw7em h5 {width: 7em !important;}
.hw8em h1, .hw8em h2, .hw8em h3, .hw8em h4, .hw8em h5 {width: 8em !important;}
.hw9em h1, .hw9em h2, .hw9em h3, .hw9em h4, .hw9em h5 {width: 9em !important;}
.hw10em h1, .hw10em h2, .hw10em h3, .hw10em h4, .hw10em h5 {width: 10em !important;}
.hw15em h1, .hw15em h2, .hw15em h3, .hw15em h4, .hw15em h5 {width: 15em !important;}
.hw20em h1, .hw20em h2, .hw20em h3, .hw20em h4, .hw20em h5 {width: 20em !important;}
.hw25em h1, .hw25em h2, .hw25em h3, .hw25em h4, .hw25em h5 {width: 25em !important;}

.hw1em .input_group > .field  { margin-left: 1em;}
.hw2em .input_group > .field  { margin-left: 2em;}
.hw3em .input_group > .field  { margin-left: 3em;}
.hw4em .input_group > .field  { margin-left: 4em;}
.hw5em .input_group > .field  { margin-left: 5em;}
.hw6em .input_group > .field  { margin-left: 6em;}
.hw7em .input_group > .field  { margin-left: 7em;}
.hw8em .input_group > .field  { margin-left: 8em;}
.hw9em .input_group > .field  { margin-left: 9em;}
.hw10em .input_group > .field { margin-left: 10em;}
.hw15em .input_group > .field { margin-left: 15em;}
.hw20em .input_group > .field { margin-left: 20em;}
.hw25em .input_group > .field { margin-left: 25em;}

.display_inline {
	display: inline;
}
.display_inline_block {
	display: inline-block;
}
*+html .display_inline_block {
	display: inline;
	zoom: 1;
}
.display_block {
	display: block;
}

/*=== tbl_scrollable ===*/
/*.nocelspan */
.tbl_scrollable.nocelspan thead tr {
	float: left;
	width: 100%;
}
.tbl_scrollable.nocelspan tbody {
	float: left;
	width: 100%;
	height: 400px;
	overflow: auto;
}



/*  */
.jslcm_tbl_wrapper {
	position: relative;
	overflow-y: hidden;
	overflow-x: visible;
	outline: 1px solid #aaa;
	outline-offset: -1px;
}
.jslcm_tbl_wrapper table {
	margin-top: 0;
	margin-bottom: 0;
}
.jslcm_tbody_wrapper {
	overflow-y: auto;
}
.jslcm_tbody_wrapper,
.jslcm_fixed_thead,
.jslcm_fixed_tfoot {
	width: 100%;
}
.jslcm_tbody_wrapper { 
	overflow-x: hidden;
}
.jslcm_fixed_thead,
.jslcm_fixed_tfoot {
	overflow-x: visible;
}
.jslcm_fixed_thead,
.jslcm_fixed_tfoot {
	position: absolute;
}
.jslcm_fixed_thead {
	top: 0;
}
.jslcm_fixed_tfoot {
	bottom: 0;
}
.jslcm_fixed_thead,
.jslcm_fixed_thead a,
.jslcm_fixed_tfoot ,
.jslcm_fixed_tfoot a {
	z-index: 1;
}
.lcm_floatwindow h1 a{
	color: #fff;
	text-decoration: none;
	cursor: move;
}
.lcm_floatwindow {
	z-index: 100;
	top: 2.25em;
	right: 0;
	background: rgb(250, 250, 250);
	position: fixed !important;
	box-shadow: 0 0 6px #aaa;
	-moz-box-shadow: 0 0 6px #aaa;
	-o-box-shadow: 0 0 6px #aaa;
	-ms-box-shadow: 0 0 6px #aaa;
	/* filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=0, strength=3, enabled=true),; */
	progid: DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=90, strength=3, enabled=true), 
	 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=180, strength=3, enabled=true), 
	 /*
	 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa, direction=270, strength=3, enabled=true);
	 */;
	border: 1px solid #b9b9b9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 15em;
	min-height: 1.2em;
	width: 20em;
	padding-top: 2em;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	min-width: 200px;
	overflow: hidden;
}
.lcm_floatwindow_title {
	margin-top: -2em !important;
	z-index: 2;
	position: relative;
}
.draggable .lcm_floatwindow_title {
	cursor: move;
}
#help_window {
	font-size: 1.125em;
 }
#help_window div {
	display: block;
}


.modal_content {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
	height: 100%;
	width: 100%;
	padding: .75em 15px;
	overflow: auto;
	font-size: .9em;
	color: #333 !important;
	text-shadow: none;
}
.modal_content h2 {
	margin: 1.5em 0 .25em;
	border-bottom: 1px solid #aaa;
	text-shadow: 1px 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
}
.modal_content h2:first-of-type {
	margin-top: .5em;
}
.modal_content h3 {
	margin-top: .5em;
}
.modal_content p {
	margin-bottom: .5em;
}
#help_window .modal_content a {
	text-decoration: underline;
}
#help_window .modal_content a:hover {
	text-decoration: none;
}
#help_window .edit_link,
.contents .txt .edit_link {
	display: block;
	position: relative;
	text-align: right;
}
.contents .txt .edit_link {
	z-index: 0;
	opacity: 1;
}
#help_window .helpindex_link {
	display: block;
	border-top: 1px solid #aaa;
	padding-top: .5em;
	margin: 1em 0;
}

.lcm_close_window {
	position: absolute;
	top: .1em;
	right: 5px;
	line-height: 1.5 !important;
	z-index: 2;
}

/*=== lcm_focus ===*/

#esc_focus_wrapper {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	z-index: 1000;
	background: transparent !important;
}
#esc_focus {
	position: absolute;
	display: block;
	width: 5em;
	height: 3em;
	line-height: 3em;
	vertical-align: middle;
	text-align: center;
	margin: auto;
	top: 0;
	bottom: 0;
	left: auto;
	right: 0;
	background-color: #fff;
}

.menubar_icon {
	width: 1.2em;
}
.mark_loading {
	display: block;
	margin: 50px auto;
}
.accesskey {
	font-weight: normal;
	font-size: .9em;
	padding-left: .1em;
}

/*=== itemindex ===*/
/*.sub_column .index_list {
	margin: 2.3em 10px 20px 0;
	padding: 10px 10px 10px 26px;
	border: 1px solid #aaa;
}
*/
.sub_column div {
	margin: 2.3em 10px 20px 0 !important;

}
.sub_column .button.primary {
	display: block;
	margin: auto;
}

.sub_column .form_group {
	margin-right: 10px;
}
.sub_column h2 {
	font-size: 100%;
	border: none;
	box-shadow: none;
	margin-top: .75em;
}
.sub_column h2:first-of-type {
	margin: 0;
}
.sub_column input,
.sub_column select {
	font-size: .9em;
}
form_group table tbody th {
	text-align: left;
	min-width: 5em;
	background-color: transparent;
}
section.search {
	margin-bottom: 1em;
}
h1 .sort_info {
	display: inline-block;
	font-weight: normal;
	font-size: .75em;
	margin-left: .5em;
}

.index_info {
	margin: 0 0 .4em;
	text-align: right;
}
.index_info p,
.pagenation_info,
.pagenation_info a {
	display: inline-block;
}
*+html .index_info p,
*+html .pagenation_info,
*+html .pagenation_info a {
	display: inline;
	zoom: 1;
}
.pagenation_info a {
	width: 1em;
	margin-left: 3px;
	border: 1px solid #ccc;
	padding: .125em 3px;
	text-align: center;
	line-height: 1.25;
	text-decoration: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.pagenation_info a:hover {
	background-color: #eee;
}
.pagenation_info input {
	margin-left: 3px;
}
.select_format {
	width: 13em;
	margin-right: .5em;
}

/*=== for_screenreader ===*/
span.sr_replace span {
	position: absolute !important;
	left: auto;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
}
span.sr_replace.to:before {
	content: '〜';
}


span.add_bracket:before,
span.sr_add.bracket:before {
	content: '[';
}
span.add_bracket:after,
span.sr_add.bracket:after {
	content: '] ';
}

.aria_nd {
}

/*=== modal ===*/
.modal
{
	display: none;
}
.modal.on {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	/* right: 0; */
	/* bottom: 0; */
	/* margin: auto; */
	background: #fefefe;
	padding: 10px;
	z-index: 10000;
}
#modal_wrapper {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-image: url( '../img/system/bg_overlay_g.png' );
}
/*=== jQuery UI ===*/
.ui-widget {
	font-size: .8em !important;
}
#ui-datepicker-div {
	z-index: 100 !important;
}
.ui-datepicker-current {
	opacity: 1 !important;
}
.monthpicker .ui-datepicker-calendar,
.yearpicker .ui-datepicker-calendar {
	display: none;
}
.yearpicker .ui-datepicker-month {
	display: none;
}
.yearpicker.ui-datepicker {
	width: 14em;
}
.yearpicker.ui-datepicker .ui-datepicker-title {
	margin: 0;
}
#ui-datepicker-div.monthpicker .ui-datepicker-buttonpane,
#ui-datepicker-div.yearpicker .ui-datepicker-buttonpane {
	border: none;
	margin-top: 0;
}

div.ui-timepicker-div dl dd {
	margin: .75em 10px .25em 40%;
}
body .ui-datepicker select.ui-datepicker-year {
	width: 41%;
}
body .ui-datepicker select.ui-datepicker-month {
	width: 39%;
	margin-left: 4%;
}
body .ui-resizable-handle {
	position: absolute !important;
	z-index: 100000 !important;
}
.ui-wrapper.resizable_textarea {
	padding: 0 8px 0 0!important;
}

/*=== for NetReader ===*/
.netreader .ui-tooltip {
	display: none !important;
}

/*=== Tiny MCE ===*/
.switch_mce {
	padding: 4px 0 4px 18px;
	background-repeat: no-repeat;
	background-position: left top;
}
.switch_mce.on {
	background-image: url( '../img/led-icons/text_align_left.png' );
}
.switch_mce.off {
	background-image: url( '../img/led-icons/style.png' );
}


/*=== media_query ===*/
.show_if_smalldisplay {
	display: none !important;
}


@media screen and (max-width: 700px) {
	body {
		padding-bottom: 10px;
	}
	.container {
		min-width: 300px;
	}
	.adminbar_bottom .adminbar_main {
		padding-right: 3.5em;
	}
	.adminbar_bottom .adminbar_sub {
		position: absolute;
		top: 0;
		right: 0;
	}
	#adminbar .toggle_item .adminbar_icon {
		margin-right: -8px;
	}
	#adminbar .adminbar_bottom .horizontal_list li {
		margin-left: -.25em;
	}
	.hide_if_smalldisplay {
		position: absolute !important;
		left: auto;
		height: 0;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
	}
	.nd_if_smalldisplay {
		display: none !important;
	}
	.show_if_smalldisplay {
		display: inherit !important;
	}
	div.show_if_smalldisplay {
		display: block !important;
	}
	li.show_if_smalldisplay {
		display: list-item !important;
	}
	li.show_if_smalldisplay .label {
		position: relative !important;
		height: auto;
		color: #333 !important;
		text-shadow: none;
		font-weight: bold;
	}
	#render_info {
		position: fixed;
		bottom: 0;
		left: 1%;
		color: #333;
		text-shadow: none;
		line-height: 1;
	}
	
/*=== .lcm_form ===*/
	.lcm_form > .input_group,
	.lcm_form .hidden_item > .input_group {
		border: none;
		box-shadow: none;
	}
	.lcm_form .input_group > .input_group {
		display: block;
	}
	.lcm_form .toggle_item.disclosure,
	.lcm_form .input_group > h2,
	.lcm_form .hidden_item .input_group > h2 {
		width: 100%;
		text-align: left;
	}
	.lcm_form .input_group > h2,
	.lcm_form .hidden_item .input_group > h2,
	.lcm_form section h1 {
		border-top: 1px solid #fff;
		box-shadow: 0 -1px 0 #ccc;
		margin: .5em 0;
		padding: 1em 0 0;
	}
	.lcm_form .input_group > .field,
	.lcm_form .hidden_item .input_group > .field,
	.lcm_form .input_group table {
		margin-left: 0;
		padding-left: 0;
	}
	.lcm_form .input_group > table {
		text-align: left;
	}
	.lcm_form .input_group > table tbody th,
	.lcm_form .input_group > table tbody td {
		min-width: inherit;
	}	
	
		/*=== float_list ===*/
	.size1 ul.float_list li {
		width: 100%;
		float: none;
	}
}
*/
@media screen and (max-width: 320px) {
	body {
		padding: 0;
	}
	.container {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0;
	}
	.lcm_action_login .account label,
	.lcm_action_login .password label {
		position: absolute !important;
		left: auto;
		height: 0;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
	}
	select {
		width: 100%;
	}
	form.search h2 {
		display: block;
		float: none;
		text-align: left;
	}
	/*=== float_list ===*/
	ul.float_list li {
		width: 100%;
		float: none;
	}


}
@media print {
	.noprint,
	#openProfiler,
	#pqp-container {
		display: none;
	}
} 