body{
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
	height: 100%;
	padding: 50px 0 0;
}
.container {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;

	min-height: 100%;
	height: auto;
	padding: 0 30px 120px;
	position: relative;
}
footer{
	position: absolute;
	bottom: 0;
	height: 80px;
	padding: 10px 0;
	font-size: .8em;
}

/*=== admin_bar ===*/

#admin_bar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	background-color: #eee;
	height: 1.5em;
}

#admin_bar div
{
	position: absolute;
	width: auto;
	background-color: #eee;
	border-radius:0 0 4px 4px ;
}

#admin_bar_controller{
	left: 10px;
}
#admin_bar_context{
	left: 25%;
}
#admin_bar #admin_bar_user{
	right: 0;
}
#admin_bar_user li{
	display: block;
}
#admin_bar_controller *,
#admin_bar_context *
{
	display: none;
	padding: 0;
}
#admin_bar div h2
{
	display: block;
	padding: 0 20px;
	margin-bottom: 5px;
}
#admin_bar div h3
{
	padding: 0 20px;
}
#admin_bar div ul
{
	padding:0 20px;
	margin-bottom: 10px;
}

/* hover action */

#admin_bar_controller:hover *,
#admin_bar_context:hover *{
	display: block;
}
