/*
CSSハック(valid)
IE6 : * html 
IE7 : *+html
IE8,MacIE5,Opera9以下 html:first-child
#adminbar .adminbar_main {
	border-top: 1px solid #7393c6;
	border-bottom: 1px solid #7393c6;
	background-color: #0e3664;
	background-image: url('../images/parts/adminbar_bg.png');
}
.adminbar_main li a:hover,
.adminbar_main li a:focus {
	background-color: #d8ebfc; 216,235,252
}
アイコン類の扱いを考える
*/

/* あとでlocomoログイン寺のCSSに分ける */
body{
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
	height: 100%;
	background-color: #cdd7de;
	padding: 1em 0;
}
.container {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding: 20px;
	max-width: 96%;
	margin: 0 auto 20px;
	background-color: #fafafa;
	outline: 1px solid #ccc;
}
.contents{
	position: relative;
}
footer,
#footer{
	position: relative;
	bottom: 0;
	min-height: 80px;
	padding: 30px 30px 10px;
	font-size: .8em;
}

/*=== login ===*/

body.login{
	background-color: #dde7ee;
	border-top: 4px solid #004896;
	box-shadow: inset 0 1px 0 #edf7fc;
}
.login .container {
	min-height: inherit;
	width: 23em;
	min-width: 23em;
	height: 23.75em !important;
	padding: 0 1.5em;
	margin: 9em auto 50px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	text-align: center;
	outline: none;
}
.login input[type="text"],
.login input[type="password"] {
	width: 13em;
}
.login.home .container{
	height: 21.5em !important;
}
.login h1{
	position: absolute !important;
	left: auto;
	height: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
.login .contents h2{
	font-size: 2em !important;
	color: #004896;
	font-weight: normal;
	font-family: Verdana;
	border: none;
	margin: 0 0 .5em !important;
}
.login .contents h2 img{
	display: block;
	margin: .5em auto 0;
	width: 1.5em;
}

.login .form_group {
	border: none;
	padding: 0;
	margin: .5em 0;
	background-color: transparent;
}
.login input#form_submit {
	margin: 1.5em 0;
	width: 100%;
}
.login a{
	display: block;
	font-size: .9em;
}
.login .flash_alert {
	position: absolute;
	top: 4em;
	left: 0;
	right: 0;
	width: 20em;
	margin: 0 auto;
	box-sizing: border-box;
}

/*=== boxsizing ===*/
#adinbar,
#adminbar div,
#adminbar_logo {
	-webkit-box-sizing : border-box ;
	-moz-box-sizing : border-box ;
	box-sizing : border-box ;
}
/*=== inline-block ===*/
#adminbar div,
.adminbar_icon,
.holizonal_list ul,
.holizonal_list li {
	display: inline-block;
}
*+html #adminbar div,
*+html .holizonal_list ul,
*+html .holizonal_list li {
	display: inline;
	zoom: 1;
}

#adminbar {
	width: 100%;
	min-width: 320px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 2.5em 0 0;/* 上部バーの高さを設けておく */
	border-top: 1px solid #7393c6;
	background-color: #fff;
	font-size: .9em;
	-webkit-font-smoothing: subpixel-antialiased; /* Safariでのテキストのアンチエイリアス処理調整、薄くなるのを防ぐ */
}
#adminbar a {
	text-decoration: none;
	display: inline-block;
}
.adminbar_icon { /* IE8で画像のサイズをCSSで指定した場合に本来サイズで枠が描画されてしまうのを防ぐためにラッパーを用意 */
	width: 1.75em;
	height: 2em;
	padding: 0 .125em;
}
.adminbar_bottom .adminbar_icon{
	width: 1.5em;
}
.adminbar_top .adminbar_icon img{
	width: 1.75em;
	height: 1.75em;
	padding: .125em 0;
	
}
.adminbar_bottom .adminbar_icon img{
	width: 1.5em;
	height: 1.5em;
	padding: .25em 0;
}
.adminbar_top,
.adminbar_bottom {
	display: block;
	width: 100%;
}
.adminbar_top {
	background-color: #0e3664;
	background-image: url('../images/parts/adminbar_bg.png');
	background-position: center top;
	background-repeat: no-repeat;
	color: #fff !important;
	text-shadow: 1px 1px 0 #333;
	height: 2.5em;	
	position: absolute;
	top: 0;
	left: 0;
	vertical-align: middle;
}
.adminbar_bottom {
	clear: both;
	border-top: 1px solid #7393c6;
	border-bottom: 1px solid #858c91;
	position: relative;
	background: #fafafa;
	background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: -ms-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: -o-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fcfcfc), to(#ebebeb));
	background-image: -webkit-linear-gradient(top, #fcfcfc, #ebebeb);
	background-image: linear-gradient(top, #fcfcfc, #ebebeb);
	color: #333;
	text-shadow: 1px 1px 0 #fff;

}
.adminbar_bottom {
	box-shadow: 0 0 2px rgba(0,0,0,.2);
}
#adminbar_logo {
	height: 2.5em;
	vertical-align: middle;
	background-color: #fff;/* adminbarの背景色と合わせる */
	padding: 0 .25em;
}
.adminbar_main,
.adminbar_sub {
	padding: .25em 10px;
}
.adminbar_main div,
.adminbar_sub div {
	position: relative;
	vertical-align: middle;
}
.adminbar_top .adminbar_main,
.adminbar_top .adminbar_sub {
	vertical-align: middle;
}
.adminbar_top .adminbar_sub {
	height: 2.5em;
}
.adminbar_bottom .adminbar_sub {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 2em;
}
.adminbar_top .adminbar_sub div {
	float:right;
	line-height: 2em;
	vertical-align: middle;
	padding-left: 5px;
}
.adminbar_sub {
	float: right;
}
.adminbar_sub ul.on {
	right: 0;
	left: auto !important;
}
#render_info {
	opacity: .65;
	font-size: .9em;
	line-height: 2.3em;
}
.adminbar_top div > a {
	display: block;
	line-height: 2em;
	vertical-align: middle;
	color: #fff !important;
}
.adminbar_top a,
.adminbar_bottom a{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.adminbar_top div > a:hover,
.adminbar_top div > a:focus {
	background-color: rgba(255,255,255,.15);
}
.adminbar_top li a:link,
.adminbar_top li a:visited,
.adminbar_top li a:hover,
.adminbar_top li a:active,
.adminbar_bottom,
.adminbar_bottom a:link,
.adminbar_bottom a:visited,
.adminbar_bottom a:hover,
.adminbar_bottom a:active {
	color: #333;
	text-shadow: 1px 1px 0 #fff;
}
a.has_dropdown {
	padding-right: 15px;
	background-image: url('../images/parts/mark_listopen_bk.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-left: 0;
}
.adminbar_top a.has_dropdown {
	padding-right: 15px;
	background-image: url('../images/parts/mark_listopen_wh.png');
	background-position: right center;
	background-repeat: no-repeat;
}
#adminbar .icononly{
	margin-right: -8px;
}
.adminbar_bottom div a:hover,
.adminbar_bottom div a:focus {
	background-color: rgba(0,0,0,.06);
	text-shadow: none;
}
#adminbar ul.on a:hover,
#adminbar ul.on a:focus {
	background-color: #d8ebfc;
	text-shadow: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
ul.holizonal_list {
	line-height: 1.25;
	padding-left: 0;
}
.holizonal_list li {
	padding: 0 6px 0 0;
}
#adminbar ul.holizonal_list a {
	display: inline;
	padding: .25em;
}
.container .holizonal_list {
	overflow: hidden;
}
.container .holizonal_list li {
	border-left: 1px solid #aaa;
	padding: 0 6px;
	margin: .25em 0 .25em -1px;
}

.adminbar_main ul.on,
.adminbar_sub ul.on {
	position: absolute;
	left: 0;
	z-index: 100;
	display: block;
	white-space: nowrap;
	padding: .25em 0;
	border: 1px solid #b9b9b9;
	border-radius: 2px ;
	background: rgb(250, 250, 250);
	background: rgba(250, 250, 250, .95);
}
#adminbar .on li {
	display: block;
}
#adminbar .on li a {
	display: block;
	padding: 1px 20px;
}
#adminbar .show_if_focus {
	left:4px;
	top: 4px;
}
.admin_controller{
	margin-right: 10px;
}


/* button */
.btn,
.button {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

a.btn.primary,
a.button.primary,
a.btn.primary:hover,
a.button.primary:hover,
a.btn.primary:active,
a.button.primary:active {
	color: #fff;
}

.btn.primary,
.button.primary {
	background-color: #2a78ca;
	border: 1px solid  #357ebd;
	color: #fff;
	padding: 5px 15px;
}
.btn.primary:hover,
.btn.primary:focus,
.button.primary:hover,
.button.primary:focus {
	border: 1px solid  #357ebd;
	background-color: #29619d;
	color: #fff;
	padding: 5px 15px;
}
.btn.primary:active,
.button.primary:active {
	border: 1px solid  #357ebd;
	padding: 5px 15px;
	background-color: #29619d;
}
a.btn_danger,
a.btn_danger:hover,
a.btn_danger:active,
a.btn.danger,
a.button.danger,
a.btn.danger:hover,
a.button.danger:hover,
a.btn.danger:active,
a.button.danger:active {
/*	color: #fff; */
}
.btn_danger,
.btn.danger,
.button.danger {
/*
	border-color: #d43f3a;
	background-color: #d9534f;
	color: #fff;
*/
	background-color: #f6cccc;
}
.btn_danger:hover,
.btn.danger:hover,
.button.danger:hover {
	border-color: #ac2925;
	background-color: #c9302c;
	color: #fff;
}
.btn_danger:active,
.button.danger:active {
	border-color: #ac2925;
	background-color: #c9302c;
	color: #fff;
}
.btn.small,
.button.small {
	padding: 2px 8px;
	margin: 0 2px 0 0;
}
.btn.small.primary,
.button.small.primary {
	padding: 1px 7px;
	font-weight: normal;
}
.btn.small.primary:hover,
.button.small.primary:hover {
	border-width: 3px;
	padding: 0 6px;
}
.btn.small.primary:active,
.button.small.primary:active {
	padding: 0 6px;
}

.btn.btn_block,
.button.button_block {
	display: block;
	width: 100%;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
	margin-bottom: 10px;
}
.btn.btn_block,
.btn.btn_block:hover,
.btn.btn_block:active,
.btn.btn_block:focus,
.button.button_block,
.button.button_block:hover,
.button.button_block:active,
.button.button_block:focus {
	padding: .75em 0;
}

.btn.disabled,
.button.disabled,
input.button[disabled],
a.button[disabled],
fieldset[disabled] input.button,
fieldset[disabled] a.button {
	cursor: not-allowed;
	pointer-events: none; /* IEは11以上から */
	opacity: .65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
}
.validation_error input,
.validation_error select,
.validation_error textarea {
	background-color: #fff3f3;
	outline-color: rgba(238,153,153,.6);
	}
input[disabled],
select[disabled],
textarea[disabled] {
	background-color: #eee !important;
	box-shadow:none;
}
.btn_group{
	white-space: nowrap;
}
.btn_group a{
	margin-left: .5em;
}
.btn_group a:first-child{
	margin-left: 0;
}
a.delete{
	color: #a20;
}

/* alert */
div.flash_alert {
	position: relative;
	padding:5px 20px 5px 10px;
	margin: 10px 0;
	text-align: left;
}
div.flash_alert.alert_success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #111;
}
div.flash_alert.alert_error {
	background-color: #fae6e6;
	border-color: #e9c6c6;
	color: #111;
	padding-left: 35px;
	background-image: url('../images/led-icons/error.png');
	background-repeat: no-repeat;
	background-position: 10px center;
}
.flash_alert ul.link a{
	text-decoration: none;
	color: #333 !important;
}
.flash_alert ul.link a:hover{
	text-decoration: underline;
}

/* tooltip */
div.form_tooltip {
	background: rgba(255, 255, 255, .97) !important;
	font-size: .9em !important;
}
div.form_tooltip{
	-moz-box-shadow: 0 0 2px #aaa;
	-o-box-shadow: 0 0 2px rgba(128, 128, 128, .5) ;
	-ms-box-shadow: 0 0 2px rgba(128, 128, 128, .5);
	box-shadow: 0 0 2px rgba(128, 128, 128, .5);
	border: 1px solid #aaa !important;
}
.form_tooltip:after, .form_tooltip:before {
	top: 100%;
	left: 2em;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.form_tooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 5px;
	margin-left: -5px;
}
.form_tooltip:before {
	border-color: rgba(170, 170, 170, 0);
	border-top-color: #aaa;
	border-width: 6px;
	margin-left: -6px;
}



/* pagenation */
.pagination {
	padding: 10px;
	text_align: center;
}
.pagination a {
	padding: 5px 10px;
}

.pagination .active a {
	font-weight: bold;
	background-color: #eee;
}

/*===  form  ===*/
.form_group{
	margin: 10px 0 20px;
	padding: 10px;
	background-color: #eee;
}
form tbody th{
	text-align: left;
	padding-right: 5px;
}
.submit_button{
	width: 100%;
	text-align: right;
	margin: 1em 0 .5em;
}

a.disclosure{
	color: #333;
	font-size: .9em;
	text-decoration: none;
	background-image: url('../images/parts/mark_disclose.png');
	background-position: 3px center;
	background-repeat: no-repeat;
	padding-right: 0;
	padding-left: 15px;
}
a.disclosure.on{
	background-image: url('../images/parts/mark_listopen_bk.png');
	background-position-x: 0;
}
a.show_item:hover{
	text-decoration: underline;
}

/*===  table  ===*/
.datatable{
	background-color: #fefefe;
}
/* tbl datatable */
*>table.datatable thead th,
*>table.datatable thead td,
*>table.datatable td,
.datatable td{
	padding:.25em .5em;
}
.datatable{
	font-size: .9em;
	border-bottom:1px solid #bbb;
}
.datatable tbody th{
	font-weight: normal;
	padding:.25em .5em;	
} 
table.datatable th,
table.datatable td{
	border-bottom: 1px solid #eee;
}
.datatable td{
	white-space: nowrap;
}
.datatable tr:nth-child(odd) {
	background: #fefefe;
}
.datatable tr:nth-child(even) {
	background: #f9f9f9;
}
.datatable tr:nth-child(even) th{
	background: #eee;
}
.col_scrollable{
	display: block;
	white-space: normal;
	overflow-y: auto;
	overflow-x: hidden;
	height: 1.5em;
	margin: -.25em -6px -.25em -.5em;
	padding: 0 .5em;
}

.formtable{
	border-spacing: 0px;
	width: 100%;
	border-left: none;
}
.formtable th,
.formtable td {
	text-align: left;
	padding: 8px 5px;
	border-bottom: 1px #ccc solid;
	box-shadow: 0 1px 0 #f3f3f3;
	border-right: none;
}
.formtable thead th {
	text-align: left;
}

/*=== contents ===*/
.contents h1.page_title {
	margin: 0.25em 0;
	font-size: 1.5em;
}
.contents h2 {
	margin: 1em 0 .5em;
	font-size: 1.25em;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 1px 0 #fff;
}
.contents h2:first-of-type{
	margin-bottom: 1em;
}
.contents h3 {
	font-size: 1.1em;
	margin: 1em 0 .25em;
}
/*=== aria ===*/
.aria_nd {
	aria-hidden: true;
}

/*=== modal ===*/
.modal
{
	display: none;
}

/*=== jQuery UI ===*/
.ui-widget {
	font-size: .8em !important;
}
#ui-datepicker-div {
	z-index: 100 !important;
}
.ui-datepicker-current {
	opacity: 1 !important;
}
div.ui-timepicker-div dl dd {
	margin: .75em 10px .25em 40%;
}
body .ui-datepicker select.ui-datepicker-year {
	width: 41%;
}
body .ui-datepicker select.ui-datepicker-month{
	width: 39%;
	margin-left: 4%;
}

/*=== Tiny MCE ===*/
.switch_mce{
	padding: 4px 0 4px 18px;
	background-repeat: no-repeat;
	background-position: left top;
}
.switch_mce.is_visual{
	background-image: url( '../images/led-icons/text_align_left.png' );
}
.switch_mce.is_text{
	background-image: url( '../images/led-icons/style.png' );
}


/*=== media_query ===*/
li.show_if_smalldisplay{
	display: none !important;
}


@media screen and (max-width: 640px) {

body{
	padding-bottom: 10px;
}
.container{
	min-width: 300px;
}

}

@media screen and (max-width: 520px) {
.adminbar_bottom .adminbar_main{
	padding-right: 3.5em;
}
.adminbar_bottom .adminbar_sub{
	position: absolute;
	top: 0;
	right: 0;
}
#adminbar .toggle_item .adminbar_icon{
	margin-right: -8px;
}
#adminbar .adminbar_bottom .holizonal_list li {
	margin-left: -.25em;
}
#adminbar .hide_if_smalldisplay{
	position: absolute !important;
	left: auto;
	height: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}
#adminbar li.show_if_smalldisplay{
	display: list-item !important;
}
#adminbar li.show_if_smalldisplay .label{
	position: relative !important;
	height: auto;
	color: #333 !important;
	text-shadow: none;
	font-weight: bold;
	padding:0 20px;
	white-space: normal;
}

}

@media screen and (max-width: 320px) {
	body{
		padding: 0;
	}
	.container{
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		margin: 0;
	}
	.login .account label,
	.login .password label {
		position: absolute !important;
		left: auto;
		height: 0;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
	}
	select{
		width: 100%;
	}

}